<?xml version="1.0"?>
<config>
    <modules>
        <Apdc_Checkout>
            <version>0.0.1</version>
        </Apdc_Checkout>
    </modules>
    <frontend>
        <routers>
            <apdc_checkout>
                <use>standard</use>
                <args>
                    <module>Apdc_Checkout</module>
                    <frontName>votre-commande</frontName>
                </args>
            </apdc_checkout>
        </routers>
        <layout>
            <updates>
                <apdc_checkout>
                    <file>apdc_checkout.xml</file>
                </apdc_checkout>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <apdc_checkout>
                <class>Apdc_Checkout_Block</class>
            </apdc_checkout>
            <checkout>
                <rewrite>
                    <onepage>Apdc_Checkout_Block_Onepage</onepage>
                </rewrite>
            </checkout>
            <!--<hipaymod>
		            <rewrite>
		            	<form>Apdc_Checkout_Block_Hipay_Form</form>
		            </rewrite>
		        </hipaymod>-->
        </blocks>
        <helpers>
            <apdc_checkout>
                <class>Apdc_Checkout_Helper</class>
            </apdc_checkout>
        </helpers>
        <models>
            <apdc_checkout>
                <class>Apdc_Checkout_Model</class>
            </apdc_checkout>
            <checkout>
                <rewrite>
                    <type_onepage>Apdc_Checkout_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <rewrite>
            <apdc_checkout_checkout_onepage>
                <from>
                    <![CDATA[#^/ddate/checkout_onepage/#]]>
                </from>
                <to>/votre-commande/checkout_onepage/</to>
            </apdc_checkout_checkout_onepage>
        </rewrite>
        <events>
	    	<controller_action_postdispatch_checkout_onepage_savePayment>
                <observers>
                    <apdc_checkout>
                        <class>apdc_checkout/observer</class>
                        <method>saveOrder</method>
                    </apdc_checkout>
                </observers>
        	</controller_action_postdispatch_checkout_onepage_savePayment>
	    </events>
        <sales>
            <quote>
                <totals>
                    <shipping>
                        <class>apdc_checkout/sales_quote_address_total_shipping</class>
                        <renderer>apdc_checkout/checkout_total_shipping</renderer>
                    </shipping>
                </totals>
            </quote>
    	</sales>
    </global>
</config>
