<?xml version="1.0"?>
<config>
    <modules>
        <Apdc_Mistral>
            <version>1.0.0</version>
        </Apdc_Mistral>
    </modules>
    <global>
        <blocks>
        </blocks>
        <helpers>
          <apdcmistral>
            <class>Apdc_Mistral_Helper</class>
          </apdcmistral>
        </helpers>
        <models>
            <apdcmistral>
                <class>Apdc_Mistral_Model</class>
            </apdcmistral>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <apdcmistral>
                    <file>apdc_mistral.xml</file>
                </apdcmistral>
            </updates>
        </layout>
        <routers>
            <apdcmistral>
                <use>standard</use>
                <args>
                    <module>Apdc_Mistral</module>
                    <frontName>mistral</frontName>
                </args>
            </apdcmistral>
        </routers>
    </frontend>
</config>
