<?xml version="1.0"?>
	<config>
		<modules>
	      <Pmainguet_Blockrelated>
			<version>1.0.0</version>
	      </Pmainguet_Blockrelated>
	    </modules>
	    <global>
		   <blocks>
		    <catalog>
		    	<pmainguet_blockrelated>
		    		<class>Pmainguet_Blockrelated_Block</class>
		    	</pmainguet_blockrelated>
		        <rewrite>
		              <product_list_related>Pmainguet_Blockrelated_Block_Product_List_Related</product_list_related>
		        </rewrite>
		      </catalog>
		  </blocks>
		 </global>
	</config>