<?xml version="1.0"?>
<config>
    <modules>
        <Intelivemetrics_Slack>
            <version>0.4.0</version>
        </Intelivemetrics_Slack>
    </modules>
    <global>
        <helpers>
            <intelivemetrics_slack>
                <class>Intelivemetrics_Slack_Helper</class>
            </intelivemetrics_slack>
        </helpers>
        <models>
            <intelivemetrics_slack>
                <class>Intelivemetrics_Slack_Model</class>
                <resourceModel>intelivemetrics_slack_resource</resourceModel>
            </intelivemetrics_slack>
            <intelivemetrics_slack_resource>
                <class>Intelivemetrics_Slack_Model_Resource</class>
                <entities>
                    <queue>
                        <table>slack_queue</table>
                    </queue>
                </entities>
            </intelivemetrics_slack_resource>
        </models>
        <resources>
            <intelivemetrics_slack_setup>
                <setup>
                    <module>Intelivemetrics_Slack</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </intelivemetrics_slack_setup>
        </resources>

        <events>
            <sales_order_place_after>
                <observers>
                    <notifyNewOrder>
                        <class>Intelivemetrics_Slack_Model_Observers_NewOrder</class>
                        <method>notify</method>
                    </notifyNewOrder>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_save_after>
                <observers>
                    <notifyNewInvoice>
                        <class>Intelivemetrics_Slack_Model_Observers_NewInvoice</class>
                        <method>notify</method>
                    </notifyNewInvoice>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <notifyNewShipment>
                        <class>Intelivemetrics_Slack_Model_Observers_NewShipment</class>
                        <method>notify</method>
                    </notifyNewShipment>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <notifyNewCreditmemo>
                        <class>Intelivemetrics_Slack_Model_Observers_NewCreditmemo</class>
                        <method>notify</method>
                    </notifyNewCreditmemo>
                </observers>
            </sales_order_creditmemo_save_after>
            <admin_session_user_login_success>
                <observers>
                    <notifyAdminUserLoginSuccess>
                        <class>Intelivemetrics_Slack_Model_Observers_AdminUserLoginSuccess</class>
                        <method>notify</method>
                    </notifyAdminUserLoginSuccess>
                </observers>
            </admin_session_user_login_success>
            <admin_session_user_login_failed>
                <observers>
                    <notifyAdminUserLoginFailed>
                        <class>Intelivemetrics_Slack_Model_Observers_AdminUserLoginFailed</class>
                        <method>notify</method>
                    </notifyAdminUserLoginFailed>
                </observers>
            </admin_session_user_login_failed>
            <customer_register_success>
                <observers>
                    <notifyNewCustomer>
                        <class>Intelivemetrics_Slack_Model_Observers_NewCustomer</class>
                        <method>notify</method>
                    </notifyNewCustomer>
                </observers>
            </customer_register_success>
        </events>

    </global>
    <adminhtml>
        <translate>
            <modules>
                <intelivemetrics_hipchat>
                    <files>
                        <default>Intelivemetrics_Slack.csv</default>
                    </files>
                </intelivemetrics_hipchat>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <slack>
            <general>
                <enable_notification>0</enable_notification>
                <enable_log>0</enable_log>
                <use_queue>0</use_queue>
            </general>
            <api>
                <username>Magento Slack</username>
                <webhook_url/>
                <channel>#general</channel>
            </api>
            <notification>
                <new_order>1</new_order>
                <new_invoice>1</new_invoice>
                <new_shipment>1</new_shipment>
                <new_creditmemo>1</new_creditmemo>
                <new_customer_account>1</new_customer_account>
                <admin_user_login_success>1</admin_user_login_success>
                <admin_user_login_failed>1</admin_user_login_failed>
                <daily_stats>1</daily_stats>
            </notification>
        </slack>
    </default>
    <crontab>
        <jobs>
            <intelivemetrics_slack_queue_send_all>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>intelivemetrics_slack/queue::sendQueuedMessages</model>
                </run>
            </intelivemetrics_slack_queue_send_all>
            <intelivemetrics_slack_queue_clean_up>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>intelivemetrics_slack/queue::cleanQueue</model>
                </run>
            </intelivemetrics_slack_queue_clean_up>
            <intelivemetrics_slack_daily_stats>
                <schedule>
                    <cron_expr>30 9 * * *</cron_expr>
                </schedule>
                <run>
                    <model>intelivemetrics_slack/observers_dailyStats::notify</model>
                </run>
            </intelivemetrics_slack_daily_stats>
        </jobs>
    </crontab>
</config>