{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}

<div class="container">

<h1>1 : Form creation commentaire</h1>

<hr/>

<h1>2 : Tableau historique commentaires</h1>

</div>

{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
