<div class="alert alert-info" role="alert">
	<h4>Standard La Petite Reine ( Parking Louvre)</h4>
	<p><a href="tel:0142965944">01 42 96 59 44</a> / <a href="tel:0142969893">01 42 96 98 93</a></p>
	</br>
	<h4>Dispatcheurs</h4>
	<p><b>Bafode</b>: <a href="tel:0688914455">06 88 91 44 55</a></p>
	<p><b>Dino</b>: <a href="tel:0781904043">07 81 90 40 43</a></p>
	<p><b>Jérôme Martinelli</b>: <a href="tel:0786751509">07 86 75 15 09</a></p>
</div>