<div class="alert alert-info" style="border:1px solid grey;">
	<h4><b>Legende :</b></h4>
	<div class="flex-start">
		<p><i>Produit fragile </i></p>
		<div class="rectangle" style="background:rgba(255, 165, 0, 0.7)"></div>
	</div>
</div>
