<?xml version="1.0"?>
<config>
    <modules>
        <Apdc_Home>
            <version>0.2.1</version>
        </Apdc_Home>
    </modules>
    <frontend>
        <routers>
			<customhome>
				<use>standard</use>
				<args>
					<module>Apdc_Home</module>
					<frontName>customhome</frontName>
				</args>
			</customhome>
		</routers>
    	<layout>
            <updates>
                <apdc_home>
                    <file>apdc_home.xml</file>
                </apdc_home>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <customhome>
              <class>Apdc_Home_Block</class>
            </customhome>
            <landingpage>
              <class>Apdc_Home_Block</class>
            </landingpage>
        </blocks>
        <page>
            <layouts>
                <homepage translate="label">
                    <label>Homepage</label>
                    <template>page/homepage.phtml</template>
                    <layout_handle>Homepage</layout_handle>
                </homepage>
                <landingpage translate="label">
                    <label>Landing Page</label>
                    <template>page/landingpage.phtml</template>
                    <layout_handle>landing_page</layout_handle>
                </landingpage>
                <landingpage_commercants translate="label">
                    <label>Landing Page Commerçants</label>
                    <template>page/landingpage_commercants.phtml</template>
                    <layout_handle>landing_page_commercants</layout_handle>
                </landingpage_commercants>
                <landingpage_primeur translate="label">
                    <label>Landing Page Primeur</label>
                    <template>page/landingpage_primeur.phtml</template>
                    <layout_handle>landing_page_primeur</layout_handle>
                </landingpage_primeur>
                <landingpage_boucher translate="label">
                    <label>Landing Page Boucher</label>
                    <template>page/landingpage_boucher.phtml</template>
                    <layout_handle>landing_page_boucher</layout_handle>
                </landingpage_boucher>
                <landingpage_fromager translate="label">
                    <label>Landing Page Fromager</label>
                    <template>page/landingpage_fromager.phtml</template>
                    <layout_handle>landing_page_fromager</layout_handle>
                </landingpage_fromager>
                <landingpage_caviste translate="label">
                    <label>Landing Page Caviste</label>
                    <template>page/landingpage_caviste.phtml</template>
                    <layout_handle>landing_page_caviste</layout_handle>
                </landingpage_caviste>
                <landingpage_boulanger translate="label">
                    <label>Landing Page Boulanger</label>
                    <template>page/landingpage_boulanger.phtml</template>
                    <layout_handle>landing_page_boulanger</layout_handle>
                </landingpage_boulanger>
            </layouts>
        </page>
    </global>
</config>