<?xml version="1.0"?>
<config>
    <modules>
        <Apdc_Home>
            <version>0.2.1</version>
        </Apdc_Home>
    </modules>
    <frontend>
        <routers>
			<customhome>
				<use>standard</use>
				<args>
					<module>Apdc_Home</module>
					<frontName>customhome</frontName>
				</args>
			</customhome>
		</routers>
    	<layout>
            <updates>
                <apdc_home>
                    <file>apdc_home.xml</file>
                </apdc_home>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <customhome>
              <class>Apdc_Home_Block</class>
            </customhome>
            <landingpage>
              <class>Apdc_Home_Block</class>
            </landingpage>
        </blocks>
        <page>
            <layouts>
                <homepage translate="label">
                    <label>Homepage</label>
                    <template>page/homepage.phtml</template>
                    <layout_handle>Homepage</layout_handle>
                </homepage>
                <landingpage translate="label">
                    <label>Landing Page</label>
                    <template>page/landingpage.phtml</template>
                    <layout_handle>landing_page</layout_handle>
                </landingpage>
            </layouts>
        </page>
    </global>
</config>