# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
  database_host: vps303917.ovh.net
  database_port: 3306
  database_name: db_sturquier
  database_user: ms_sturquier
  database_password: g\2gAQUT
  mailer_transport: smtp
  mailer_host: 127.0.0.1
  mailer_user: null
  mailer_password: null
  secret: DamnTokenSecret
    
  refund_url:                     'https://pal-test.adyen.com/pal/servlet/Payment/v18/refund'
  refund_webservice:              'ws_224975@Company.AuPasDeCourses'
  refund_password:                'XR^d%x/[/Gd/4mp]8RXT/KTy4'

  store_submit_3party_url:        'https://pal-test.adyen.com/pal/servlet/Payout/v12/storeDetailAndSubmitThirdParty'
  store_payout_webservice:        'storePayout_104791@Company.AuPasDeCourses'
  store_payout_password:          'LMh*3zGIk19Ac*=1T~Gh/AW}8'
  confirm_3party_url:             'https://pal-test.adyen.com/pal/servlet/Payout/v12/confirmThirdParty'
  decline_3party_url:             'https://pal-test.adyen.com/pal/servlet/Payout/v12/declineThirdParty'
  review_payout_webservice:       'reviewPayout_092607@Company.AuPasDeCourses'
  review_payout_password:         '3@iSzWWQ!X=Yyr{?Es^\6/[#P'

  list_recurr_details_url:        'https://pal-test.adyen.com/pal/servlet/Recurring/v18/listRecurringDetails'
  list_recurr_details_webservice: 'ws_224975@Company.AuPasDeCourses'
  list_recurr_details_password:   'XR^d%x/[/Gd/4mp]8RXT/KTy4'

  adyen_platform_first_part:      'https://ca-test.adyen.com/ca/ca/accounts/showTx.shtml?txType=Payment&pspReference='
  adyen_platform_second_part:     '&accountKey=MerchantAccount.AuPasDeCoursesFR'

  stars_services_api_getorder_url: 'https://backend-recette.stars-services.com/WebServices/V1/getorder'
  stars_services_api_getpictures_url: 'https://backend-recette.stars-services.com/WebServices/V1/getpictures'
  stars_services_api_token:		  'APDC2712A9B6'
  stars_services_api_key: '51A7E20A48854FD5BDCD6C7CEFD8F8E1'

  from_email: contact@aupasdecourses.com
  sender_name: L'Equipe Au Pas De Courses
  to_email: prix@aupasdecourses.com
