{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
<h1> Commandes </h1><br>
	<div class="row">
		<div class="col-md-8">{% include 'ApdcApdcBundle::forms/default.html.twig' %}</div>
		<div class="col-md-4"></div>
	</div>
</div>

{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
