<?xml version="1.0"?>
<config>
    <modules>
        <Pmainguet_Customer>
            <version>1.0.0</version>
        </Pmainguet_Customer>
    </modules>
    <global>
        <models>
            <pmainguet_customer>
                <class>Pmainguet_Customer_Model</class>
            </pmainguet_customer>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_postdispatch_customer_account_createPost>
                <observers>
                    <pmainguet_customer>
                        <type>singleton</type>
                        <class>pmainguet_customer/observer_frontend</class>
                        <method>controllerActionPostdispatchCreatePostAction</method>
                    </pmainguet_customer>
                </observers>
            </controller_action_postdispatch_customer_account_createPost>
            <customer_register_success>
                <observers>
                    <pmainguet_customer>
                        <type>singleton</type>
                        <class>pmainguet_customer/observer_frontend</class>
                        <method>customerRegisterSuccess</method>
                    </pmainguet_customer>
                </observers>
            </customer_register_success>
        </events>
    </frontend>
</config>