{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Vue comptable</h1>


	<table class="table table-striped">
		<thead>
			<tr>
				<th>x</th>
				<th>y</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td>x</td>
					<td>a</td>
				</tr>
		</tbody>
	</table>

	</div>

{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
