.apdc-products-grid li.item {
  text-align:center;
  margin-bottom: 50px;
  padding-right: 5px;
  padding-left: 5px;
}
.product-item-info {}
.product-item-info:hover {
    background: #fff;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid #bbb;
    margin: -10px;
    padding: 9px;
    position: relative;
    z-index: 2;
}
.apdc-products-grid .product-image {
    margin-bottom: 5px;
    width:100%;
}
.apdc-products-grid .product-image img {
  margin:0 auto;
  max-width: 100%;
}

.apdc-products-grid .product-image .product-labels {
  position:absolute;
  top:0;

}
.apdc-products-grid .product-image .product-labels li {
  margin: 10px 5px;
}
.apdc-products-grid .product-image .product-labels li span {
  border: 2px solid #d3d3d3;
  padding: 4px;
  display:block;
  background-color:#ffffff;
  position: relative;
}
.apdc-products-grid .product-image .product-labels li span.label-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.apdc-products-grid .product-image .product-labels li span.label-text {
  color:#333;
  padding:0px 10px;
  border-radius: 2px;
}

.apdc-products-grid .product-image .product-labels li span img {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.apdc-products-grid .product-name, .products-list .product-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: "Montserrat", "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}
.apdc-products-grid .product-name a, .products-list .product-name a {
  font-weight:500;
}
.apdc-products-grid .product-item-info .product-info {
  position:relative;
}
.apdc-products-grid .product-item-info .product-info .product-info-column {
  width:50%;
  display:block;
}
.apdc-products-grid .product-item-info .product-info .product-info-left {
  float:left;
  padding-left: 10px;
  padding-right: 5px;
}
.apdc-products-grid .product-item-info .product-info .product-info-right {
  float:right;
  padding-right: 10px;
  padding-left: 5px;
}
.apdc-products-grid .product-item-info .product-info .price-box {
  margin:0;
}
.apdc-products-grid .product-item-info .actions {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: right;
}
.product-item-info .display-hover {
  display:none;
  background: #fff;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #bbb;
  border-top: none;
  left: 0;
  margin: 9px 0 0 -1px;
  padding: 0 9px 9px;
  position: absolute;
  right: -1px;
  z-index: 2;
  text-align: left;
}
.product-item-info:hover .display-hover {
  display:block;
}
.product-item-info:hover .display-hover dd {
  clear:both;
}
.product-item-info:hover .display-hover .settings-swatch-container {
  text-align:center;
}
.product-item-info:hover .display-hover .settings-swatch-container + select {
  display:none;
}
.product-item-info:hover .display-hover .attr-image-container {
  display:inline-block;
  margin-right: 3px;
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.2s ease;
  margin-bottom: 5px;
}

.product-item-info:hover .display-hover .attr-image-container:hover,
.product-item-info:hover .display-hover .attr-image-container.option-selected {
  opacity:1;
}

.product-item-info:hover .display-hover .attr-image-container img {border-radius: 50%;}
.product-item-info:hover .display-hover .attr-image-container .attr-text {
  border:1px solid lightgrey;
  padding: 0px 5px;
  border-radius: 2px;
}

.product-commercant-name,
.product-short_desc {
    font-style: italic;
    font-size: 0.95em;
}



.apdc-products-grid li.col-xs-6:nth-child(odd) {
  clear:left;
}
.apdc-products-grid li.col-xs-6:nth-child(even) {
  clear:none;
}


@media (min-width: 768px) {
  .apdc-products-grid li.col-sm-6:nth-child(even) {
    clear:none;
  }
  .apdc-products-grid li.col-sm-6:nth-child(odd) {
    clear:left;
  }
}

@media (min-width: 992px) {
  .apdc-products-grid li.col-md-4:nth-child(1n+0) {
    clear:none;
  }
  .apdc-products-grid li.col-md-4:nth-child(3n+1) {
    clear:left;
  }
}
@media (min-width: 1200px {
  .apdc-products-grid li.col-lg-4:nth-child(1n+0) {
    clear:none;
  }
  .apdc-products-grid li.col-lg-4:nth-child(3n+1){
     clear:left;
  }
}