<?xml version="1.0"?>
<config>
	<modules>
		<Apdc_Referentiel>
			<version>0.2.1</version>
		</Apdc_Referentiel>
	</modules>
	<global>
		<helpers>
	      <apdc_referentiel>
	        <class>Apdc_Referentiel_Helper</class>
	      </apdc_referentiel>
	    </helpers>
		<models>
	      <apdc_referentiel>
	        <class>Apdc_Referentiel_Model</class>
	        <resourceModel>apdc_referentiel_resource</resourceModel>
	      </apdc_referentiel>
	      <apdc_referentiel_resource>
	        <class>Apdc_Referentiel_Model_Resource</class>
	        <entities>
	          <backupmodif>
	            <table>apdc_backupmodif</table>
	          </backupmodif>
	          <referentiel>
	            <table>apdc_referentiel</table>
	          </referentiel>
	          <produitbase>
	            <table>apdc_produit_base</table>
	          </produitbase>
	          <categoriesbase>
	            <table>apdc_categories_base</table>
	          </categoriesbase>
	          <categoriesposition>
	            <table>apdc_categories_position</table>
	          </categoriesposition>
	        </entities>
	      </apdc_referentiel_resource>
	    </models>
		<resources>
	      <apdc_referentiel_setup>
	        <setup>
	          <module>Apdc_Referentiel</module>
	          <class>Mage_Catalog_Model_Resource_Setup</class>
	        </setup>
	        <connection>
	          <use>core_setup</use>
	        </connection>
	      </apdc_referentiel_setup>
	    </resources>
	    <events>
	      <!--<catalog_product_save_after>
	        <observers>
	          <apdc_referentiel>
	            <type>singleton</type>
	            <class>apdc_referentiel/observer</class>
	            <method>saveChanges</method>
	          </apdc_referentiel>
	        </observers>
	      </catalog_product_save_after>-->
	        <catalog_category_save_after>
                <observers>
                    <apdc_referentiel>
                    	<class>apdc_referentiel/observer</class>
	            		<method>fixCats</method>
	            	</apdc_referentiel>
	            </observers>
	        </catalog_category_save_after>
	    </events>
	</global>
  	<!-- <frontend>
     <routers>
        <apdc_referentiel>
            <use>standard</use>
            <args>
                <module>Apdc_Referentiel</module>
                <frontName>apdc_referentiel</frontName>
            </args>
        </apdc_referentiel>
	    </routers>
	  </frontend> -->
	  <crontab>
	    <jobs>
	      <apdc_referentiel_check_changes>
	        <schedule>
	          <cron_expr>0 1 * * *</cron_expr>
	       </schedule>
	        <run>
	          <model>apdc_referentiel/observer::cronCheckCatalogChanges</model>
	        </run>
	      </apdc_referentiel_check_changes>
	      <apdc_referentiel_fix_cats>
	        <schedule>
	          <cron_expr>10 1 * * *</cron_expr>
	       </schedule>
	        <run>
	          <model>apdc_referentiel/observer::cronFixCats</model>
	        </run>
	      </apdc_referentiel_fix_cats>
	    </jobs>
	  </crontab>
</config>
