<?xml version="1.0"?>
<config>
	<modules>
		<Apdc_Referentiel>
			<version>0.1.2</version>
		</Apdc_Referentiel>
	</modules>
	<global>
		<models>
	      <apdc_referentiel>
	        <class>Apdc_Referentiel_Model</class>
	        <resourceModel>apdc_referentiel_resource</resourceModel>
	      </apdc_referentiel>
	      <apdc_referentiel_resource>
	        <class>Apdc_Referentiel_Model_Resource</class>
	        <entities>
	          <backupmodif>
	            <table>apdc_backupmodif</table>
	          </backupmodif>
	          <referentiel>
	            <table>apdc_referentiel</table>
	          </referentiel>
	        </entities>
	      </apdc_referentiel_resource>
	    </models>
		<resources>
	      <apdc_referentiel_setup>
	        <setup>
	          <module>Apdc_Referentiel</module>
	          <class>Mage_Catalog_Model_Resource_Setup</class>
	        </setup>
	        <connection>
	          <use>core_setup</use>
	        </connection>
	      </apdc_referentiel_setup>
	    </resources>
	    <!-- <events>
	      <catalog_product_save_after>
	        <observers>
	          <apdc_referentiel>
	            <type>singleton</type>
	            <class>apdc_referentiel/observer</class>
	            <method>saveChanges</method>
	          </apdc_referentiel>
	        </observers>
	      </catalog_product_save_after>
	    </events> -->
	</global>
  	<frontend>
     <routers>
        <apdc_referentiel>
            <use>standard</use>
            <args>
                <module>Apdc_Referentiel</module>
                <frontName>apdc_referentiel</frontName>
            </args>
        </apdc_referentiel>
	    </routers>
	  </frontend>
	  <crontab>
	    <jobs>
	      <apdc_referentiel_check_changes>
	        <schedule>
	          <cron_expr>0 20 12 * *</cron_expr>
	       </schedule>
	        <run>
	          <model>apdc_referentiel/observer::cronCheckCatalogChanges</model>
	        </run>
	      </apdc_referentiel_check_changes>
	    </jobs>
	  </crontab>
</config>
