<?xml version="1.0"?>
<config>
    <modules>
        <Apdc_Notation>
            <version>0.0.1</version>
        </Apdc_Notation>
    </modules>
    <frontend>
        <routers>
            <apdc_notation>
                <use>standard</use>
                <args>
                    <module>Apdc_Notation</module>
                    <frontName>votrecommande</frontName>
                </args>
            </apdc_notation>
        </routers>
        <layout>
            <updates>
                <apdc_notation>
                    <file>apdc_notation.xml</file>
                </apdc_notation>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
             <apdc_notation>
                  <class>Apdc_Notation_Block</class>
             </apdc_notation>
        </blocks>
        <helpers>
            <apdc_notation>
                <class>Apdc_Notation_Helper</class>
            </apdc_notation>
        </helpers>
        <models>
            <apdc_notation>
                <class>Apdc_Notation_Model</class>
                <resourceModel>apdc_notation_resource</resourceModel>
            </apdc_notation>           
            <apdc_notation_resource>
                <class>Apdc_Notation_Model_Resource</class>
                <entities>
                    <notation>
                        <table>apdc_notation</table>
                    </notation>
                </entities>
            </apdc_notation_resource>
        </models>
        <resources>
            <apdc_notation_setup>
                <setup>
                    <module>Apdc_Notation</module>
                </setup>
            </apdc_notation_setup>
        </resources>
	</global>
</config>