<?xml version="1.0"?>
	<config>
		<modules>
	      <Pmainguet_CustomCheckout>
			<version>0.0.1</version>
	      </Pmainguet_CustomCheckout>
	    </modules>
	    <frontend>
        	<routers>
	            <pmainguet_customcheckout>
	                <use>standard</use>
	                <args>
	                    <module>Pmainguet_CustomCheckout</module>
	                    <frontName>customcheckout</frontName>
	                </args>
	            </pmainguet_customcheckout>
	        </routers>
	        <layout>
	            <updates>
	                <customcheckout>
	                    <file>customcheckout.xml</file>
	                </customcheckout>
	            </updates>
	        </layout>
    	</frontend>
	    <global>
		    <events>
		    	<controller_action_postdispatch_checkout_onepage_savePayment>
	                <observers>
	                    <customcheckout>
	                        <class>customcheckout/observer</class>
	                        <method>saveOrder</method>
	                    </customcheckout>
	                </observers>
            	</controller_action_postdispatch_checkout_onepage_savePayment>
		    </events>
		    <sales>
	            <quote>
	                <totals>
	                    <shipping>
	                        <class>customcheckout/sales_quote_address_total_shipping</class>
	                        <renderer>customcheckout/checkout_total_shipping</renderer>
	                    </shipping>
	                </totals>
	            </quote>
        	</sales>
		    <models>
				<customcheckout>
					<class>Pmainguet_CustomCheckout_Model</class>
				</customcheckout>
				<checkout>
	                <rewrite>
	                    <type_onepage>Pmainguet_CustomCheckout_Model_Type_Onepage</type_onepage>
	                </rewrite>
            	</checkout>
			</models>
			<rewrite>
	            <pmainguet_customcheckout_checkout_onepage>
	                <from><![CDATA[#^/ddate/checkout_onepage/#]]></from>
	                <to>/customcheckout/checkout_onepage/</to>
	            </pmainguet_customcheckout_checkout_onepage>
        	</rewrite>
			<blocks>
		         <customcheckout>
		              <class>Pmainguet_CustomCheckout_Block</class>
		         </customcheckout>
		         <hipaymod>
		            <rewrite>
		            	<form>Pmainguet_CustomCheckout_Block_Hipay_Form</form>
		            </rewrite>
		        </hipaymod>
		    </blocks>
		    <helpers>
			   <customcheckout>
		          <class>Pmainguet_CustomCheckout_Helper</class>
				</customcheckout>
			</helpers>
	    </global>
	    <crontab>
	        <jobs>
	            <ebizmarts_autoresponder>
	                <schedule>
	                    <cron_expr>6 * * * *</cron_expr>
	                </schedule>
	                <run>
	                    <model>ebizmarts_autoresponder/cron::autoresponder</model>
	                </run>
	            </ebizmarts_autoresponder>
	        </jobs>
    	</crontab>
	</config>