<?xml version="1.0"?>
<config>
    <modules>
        <Apdc_Coupon>
            <version>0.1.0</version>
        </Apdc_Coupon>
    </modules>
    <frontend>
        <routers>
            <ajaxcoupon>
                <use>standard</use>
                <args>
                    <module>Apdc_Coupon</module>
                    <frontName>ajaxcoupon</frontName>
                </args>
            </ajaxcoupon>
        </routers>
        <layout>
            <updates>
                <ajaxcoupon>
                    <file>apdc_coupon.xml</file>
                </ajaxcoupon>
            </updates>
        </layout>
    </frontend>
    <global>
    	<rewrite>
	        <ajax_coupon> 
	            <from><![CDATA[#^/checkout/cart/#]]></from>  <!-- the URL which u want to override-->
	            <to>/ajaxcoupon/index/</to>  <!-- destination url -->
	        </ajax_coupon>
	    </rewrite>
        <models>
            <ajaxcoupon>
                <class>Apdc_Coupon_Model</class>
                <resourceModel>ajaxcoupon_mysql4</resourceModel>
            </ajaxcoupon>
            <ajaxcoupon_mysql4>
                <class>Apdc_Coupon_Model_Mysql4</class>
                <entities></entities>
            </ajaxcoupon_mysql4>
        </models>
        <resources>
            <ajaxcoupon_setup>
                <setup>
                    <module>Apdc_Coupon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcoupon_setup>
            <ajaxcoupon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcoupon_write>
            <ajaxcoupon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcoupon_read>
        </resources>
        <helpers>
            <ajaxcoupon>
                <class>Apdc_Coupon_Helper</class>
            </ajaxcoupon>
        </helpers>
    </global>
</config>
