<?xml version="1.0"?>
    <config>

        <default>
            <mobassistantconnectorinfosec>
                <emogeneral>
                    <status>0</status>
                </emogeneral>
                <emoaccess>
                    <login>1</login>
                    <password>c4ca4238a0b923820dcc509a6f75849b</password>
                </emoaccess>
            </mobassistantconnectorinfosec>
        </default>

        <modules>
            <Emagicone_Mobassistantconnector>
                <version>1.0.0</version>
            </Emagicone_Mobassistantconnector>
        </modules>
        <frontend>
            <routers>
                <mobassistantconnector>
                    <use>standard</use>
                    <args>
                        <module>Emagicone_Mobassistantconnector</module>
                        <frontName>mobassistantconnector</frontName>
                    </args>
                </mobassistantconnector>
            </routers>
			<translate>
				<modules>
					<translations>
						<files>
							<default>Emagicone_Mobassistantconnector.csv</default>
						</files>
					</translations>
				</modules>
			</translate>
        </frontend>

        <admin>
            <routers>
                <mobassistantconnectoradmin>
                    <use>admin</use>
                    <args>
                        <module>Emagicone_Mobassistantconnector</module>
                        <frontName>mobassistantconnector</frontName>
                    </args>
                </mobassistantconnectoradmin>
            </routers>
        </admin>

        <global>
		    <helpers>
				<mobassistantconnector>
					<class>Emagicone_Mobassistantconnector_Helper</class>
				</mobassistantconnector>
			</helpers>
	
            <models>
                <sales>
                    <rewrite>
                        <order>Emagicone_Mobassistantconnector_Model_Order</order>
                    </rewrite>
                </sales>
                <emagiconemobassistantconnector>
                    <class>Emagicone_Mobassistantconnector_Model</class>
                </emagiconemobassistantconnector>				
            </models>

            <events>
                <sales_order_save_after>
                    <observers>
                        <emagicone_mobassistantconnector_order_change>
                            <type>singleton</type>
                            <class>Emagicone_Mobassistantconnector_Model_Observer</class>
                            <method>checkOrder</method>
                        </emagicone_mobassistantconnector_order_change>
                    </observers>
                </sales_order_save_after>
				<customer_register_success>
                    <observers>
                        <emagicone_mobassistantconnector_customer_register_success>
                            <type>model</type>
                            <class>Emagicone_Mobassistantconnector_Model_Observer</class>
                            <method>customerRegisterSuccess</method>
                        </emagicone_mobassistantconnector_customer_register_success>
                    </observers>
                </customer_register_success>
            </events>
			<layout>
				<updates>
					<emagicone_mobassistantconnector>
						<file>emagicone_mobassistantconnector.xml</file>
					</emagicone_mobassistantconnector>
				</updates>
			</layout>
        </global>
		
	<adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Emagicone_mobassistantconnector.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
		<layout>
            <updates>
                <mobassistantconnector>
                    <file>mobassistantconnector.xml</file>
                </mobassistantconnector>
            </updates>
        </layout>
    </adminhtml>
		
    </config>