{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
	Factu all
</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
