{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
	<h1> Payout Index </h1><br>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="button_accueil">
				<a href="{{ path ('billingPayoutSubmit') }}"><button type="button" class="btn btn-default btn-lg btn-block">Submit Payout</button></a>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>

	<h1>Historique des payouts</h1>
	<table class='table'>
		<thead>
			<tr>
				<th>IBAN</th>
				<th>Owner Name</th>
				<th>Value</th>
				<th>Reference</th>
			</tr>
		</thead>
			{{ dump() }}
			{% for payout_id, fields in payout_list %}

			{% endfor %}
	</table>

</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
