<?xml version="1.0"?>
<config>
    <modules>
        <Pmainguet_Sidenavcustom>
            <version>1.0.0</version>
            <title>Pmainguet Sidenav Custom</title>
        </Pmainguet_Sidenavcustom>
    </modules>
	<global>
		<blocks>
			<sidenav>
				<rewrite>
					<navigation>Pmainguet_Sidenavcustom_Block_Navigation</navigation>
				</rewrite>
			</sidenav>
		</blocks>
	</global>
</config>