{% extends 'base.html.twig' %}

{% use '/menu/default.html.twig' %}

{% block body %}
<br><br>
<div class="container">
	<h1> HOME INDEX </h1>
	<hr>
	<table>
		<tr>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>3</td>
			<td>4</td>
		</tr>
	</table>
</div>


{% endblock %}
