{% extends 'base.html.twig' %}

{% use 'menu/default.html.twig' %}

{% block body %}
<div class="container">
	<table class="table">
		<tr>
			<td>
				{% include 'forms/default.html.twig' with {'forms': 'orders'} %}
			</td>
		</tr>
		<tr>
			<td>
				{% include 'forms/default.html.twig' with {'forms': 'merchants'} %}
			</td>
		</tr>
		<tr>
			<td>
				{% include 'forms/default.html.twig' with {'forms': 'picking'} %}
			</td>
		</tr>
		<tr>
			<td>
				{% include 'forms/default.html.twig' with {'forms': 'shipping'} %}
			</td>
		</tr>
	</table>
</div>

{% endblock %}
