<?xml version="1.0"?>
<config>
    <modules>
        <Pmainguet_Delivery>
            <version>0.0.2</version>
        </Pmainguet_Delivery>
    </modules>
    <frontend>
    <routers>
            <delivery>
                <use>standard</use>
                <args>
                    <module>Pmainguet_Delivery</module>
                    <frontName>deliveryfront</frontName>
                </args>
            </delivery>
        </routers>
    </frontend>
    <global>
        <resources>
            <delivery_setup>
                <setup>
                    <module>Pmainguet_Delivery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </delivery_setup>
            <delivery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </delivery_write>
            <delivery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </delivery_read>
            <pmainguet_delivery_setup>
                <setup>
                    <module>Pmainguet_Delivery</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </pmainguet_delivery_setup>
        </resources>
        <models>
            <pmainguet_delivery>
                <class>Pmainguet_Delivery_Model</class>
                <resourceModel>delivery_resource</resourceModel>
            </pmainguet_delivery>           
            <delivery_resource>
                <class>Pmainguet_Delivery_Model_Resource</class>
                <entities>
                    <refund_order>
                        <table>refund_order</table>
                    </refund_order>
                    <refund_items>
                        <table>refund_items</table>
                    </refund_items>
                </entities>
            </delivery_resource>
        </models>
        <helpers>
            <pmainguet_delivery>
                <class>Pmainguet_Delivery_Helper</class>
            </pmainguet_delivery>
        </helpers>
	</global>
</config>