<?xml version="1.0"?>
<!-- 
/**
* @category   Excellence
* @package    Excellence_Ajax
* @author     ModuleCreator
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <Pmainguet_Addajax>
            <version>0.1.0</version>
        </Pmainguet_Addajax>
    </modules>
    <frontend>
        <routers>
            <addajax>
                <use>standard</use>
                <args>
                    <module>Pmainguet_Addajax</module>
                    <frontName>addajax</frontName>
                </args>
            </addajax>
        </routers>
        <layout>
            <updates>
                <ajax>
                    <file>addajax.xml</file>
                </ajax>
            </updates>
        </layout>
    </frontend>   
    <global>
        <rewrite>
            <ajax_cart> <!--This can be any unique id -->
                <from><![CDATA[#^/checkout/cart/#]]></from>  <!-- the URL which u want to override-->
                <to>/addajax/index/</to>  <!-- destination url -->
            </ajax_cart>
        </rewrite>
    </global>
</config>