{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}

<div class="container">

	<h2>Notes Commande</h2>

</div>

{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
