<?xml version="1.0" ?>
<config>
    <modules>
        <Pmainguet_Validateaddress>
            <version>0.0.1</version>
        </Pmainguet_Validateaddress>
    </modules>
    <frontend>
        <routers>
            <checkout> <!-- must match the router config you are trying to override -->
               <args>
                    <modules>
                        <Pmainguet_Validateaddress_Checkout before="Mage_Checkout">Pmainguet_Validateaddress_Checkout</Pmainguet_Validateaddress_Checkout>
                    </modules>
               </args>
            </checkout>
        </routers>
    	<events>
		    <shipping_validation_checkout>
		      <observers>
		        <Pmainguet_Validateaddress_Model_Observer>
		          <type>singleton</type>
		          <class>Pmainguet_Validateaddress_Model_Observer</class>
		          <method>validate_method</method>
		        </Pmainguet_Validateaddress_Model_Observer>
		      </observers>
		    </shipping_validation_checkout>
		 </events>
    </frontend>
</config>