<?xml version="1.0"?>
	<config>
		<modules>
	      <Pmainguet_Blockselection>
			<version>1.0.0</version>
	      </Pmainguet_Blockselection>
	    </modules>
	    <frontend>
	    	<layout>
				<updates>
				  <commercants>
				    <file>blockselection.xml</file>
				  </commercants>
				</updates>
			</layout>
	    </frontend>
	    <global> 
		    <blocks>
		    	<blockselection>
				  <class>Pmainguet_Blockselection_Block</class>
				</blockselection>
		    </blocks>
		</global>
	</config>