<?xml version="1.0"?>
<config>
    <modules>
        <Apdc_Catalog>
            <version>1.0.0</version>
        </Apdc_Catalog>
    </modules>
    <global>
        <blocks>
            <apdc_catalog>
                <class>Apdc_Catalog_Block</class>
            </apdc_catalog>
            <catalog>
                <rewrite>
                    <product_list_related>Apdc_Catalog_Block_Product_List_Related</product_list_related>
                </rewrite>
            </catalog>
        </blocks>
        <models>
          <apdc_catalog>
            <class>Apdc_Catalog_Model</class>
          </apdc_catalog>
          <swatches>
            <rewrite>
              <observer>Apdc_Catalog_Model_Observer_CybageSwatches</observer>
            </rewrite>
          </swatches>

        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <apdc_catalog>
                    <file>apdc_catalog.xml</file>
                </apdc_catalog>
            </updates>
        </layout>
    </frontend>
</config>
