<?xml version="1.0"?>
<config>
  <modules>
    <Apdc_Catalog>
      <version>2.0.3</version>
    </Apdc_Catalog>
  </modules>
  <global>
    <blocks>
      <apdc_catalog>
        <class>Apdc_Catalog_Block</class>
      </apdc_catalog>
      <catalog>
        <rewrite>
          <breadcrumbs>Apdc_Catalog_Block_Breadcrumbs</breadcrumbs>
          <product_list_related>Apdc_Catalog_Block_Product_List_Related</product_list_related>
          <product_view_type_configurable>Apdc_Catalog_Block_Product_View_Type_Configurable</product_view_type_configurable>
        </rewrite>
      </catalog>
    </blocks>
    <helpers>
      <apdc_catalog>
        <class>Apdc_Catalog_Helper</class>
      </apdc_catalog>
      <catalog>
        <rewrite>
          <data>Apdc_Catalog_Helper_Data</data>
        </rewrite>
      </catalog>
    </helpers>

    <models>
      <apdc_catalog>
        <class>Apdc_Catalog_Model</class>
        <resourceModel>apdc_catalog_resource</resourceModel>
      </apdc_catalog>
      <apdc_catalog_resource>
        <class>Apdc_Catalog_Model_Resource</class>
        <entities>
          <product_availability>
            <table>apdc_catalog_product_availability</table>
          </product_availability>
        </entities>
      </apdc_catalog_resource>
      <swatches>
        <rewrite>
          <observer>Apdc_Catalog_Model_Observer_CybageSwatches</observer>
        </rewrite>
      </swatches>
      <sales>
        <rewrite>
          <quote_item>Apdc_Catalog_Model_Rewrite_Magento_Sales_Quote_Item</quote_item>
        </rewrite>
      </sales>
    </models>

    <resources>
      <apdc_catalog_setup>
        <setup>
          <module>Apdc_Catalog</module>
          <class>Mage_Catalog_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </apdc_catalog_setup>
    </resources>
  </global>
  <frontend>
    <layout>
      <updates>
        <apdc_catalog>
          <file>apdc_catalog.xml</file>
        </apdc_catalog>
      </updates>
    </layout>
    <product>
      <collection>
        <attributes>
          <has_options />                                            
          <commercant />
        </attributes>
      </collection>
    </product>
    <routers>
      <catalog>
        <args>
          <modules>
            <apdc_catalog before="Mage_Catalog">Apdc_Catalog</apdc_catalog>
          </modules>
        </args>
      </catalog>
    </routers>
    <translate>
      <modules>
        <Apdc_Catalog>
          <files>
            <default>Apdc_Catalog.csv</default>
          </files>
        </Apdc_Catalog>
      </modules>
    </translate>
    <events>
      <catalog_product_collection_load_before>
        <observers>
          <apdc_catalog_join_product_availability>
            <type>singleton</type>
            <class>apdc_catalog/observer_productAvailability</class>
            <method>joinProductAvailabilty</method>
          </apdc_catalog_join_product_availability>
        </observers>
      </catalog_product_collection_load_before>
    </events>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Apdc_Catalog before="Mage_Adminhtml">Apdc_Catalog_Adminhtml</Apdc_Catalog>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <apdc_catalog>
          <file>apdc/apdc_catalog.xml</file>
        </apdc_catalog>
      </updates>
    </layout>
    <translate>
      <modules>
        <Apdc_Catalog>
          <files>
            <default>Apdc_Catalog.csv</default>
          </files>
        </Apdc_Catalog>
      </modules>
    </translate>
    <events>
      <adminhtml_catalog_category_edit_prepare_form>
        <observers>
          <apdc_catalog>
            <type>singleton</type>
            <class>apdc_catalog/adminhtml_observer</class>
            <method>setImageBrowserTypeForCategoryImages</method>
          </apdc_catalog>
        </observers>
      </adminhtml_catalog_category_edit_prepare_form>
      <catalog_product_save_after>
        <observers>
          <apdc_catalog_update_product_availability>
            <type>singleton</type>
            <class>apdc_catalog/adminhtml_observer_productAvailability</class>
            <method>updateProductAvailability</method>
          </apdc_catalog_update_product_availability>
        </observers>
      </catalog_product_save_after>
      <apdc_commercant_shop_save_after>
        <observers>
          <apdc_catalog_update_product_availability>
            <type>singleton</type>
            <class>apdc_catalog/adminhtml_observer_productAvailability</class>
            <method>updateProductAvailabilityByShop</method>
          </apdc_catalog_update_product_availability>
        </observers>
      </apdc_commercant_shop_save_after>
    </events>
  </adminhtml>

  <crontab>
    <jobs>
      <apdc_catalog_generate_product_availability>
        <schedule>
          <cron_expr>0 * * * *</cron_expr> <!-- Every day at 1:00am -->
        </schedule>
        <run>
          <model>apdc_catalog/adminhtml_observer_productAvailability::cronDailyUpdateProductAvailability</model>
        </run>
      </apdc_catalog_generate_product_availability>
    </jobs>
  </crontab>

</config>
