{% extends 'ApdcApdcBundle::base.html.twig' %}

{% block body %}

	<div class="container modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title">Creer un commentaire</h1>
			</div>
			<div class="modal-body">
				{{ form_start(form_comment, {'action': path('toolCommentsProcess'), 'method': 'GET'}) }}
				
				{% if order_id is not null %}
				<p>
					<h4><b># Commande</b></h4>
					{{ form_widget(form_comment.order_id, {'attr': {'value': order_id } }) }}
				</p>
				{% endif %}

				{{ form_end(form_comment) }}
			</div>
		</div>
	</div>

{% endblock %}
{% block javascript_comments_form %}
	<script type="text/javascript">

		var comment_type = document.getElementById("comment_type");
		var comment_merchant_id = document.getElementById("comment_merchant_id");

		comment_type.addEventListener('click', function (e) {
			if (comment_type.value == "customer_non_visible") {
				comment_merchant_id.value = "";
				comment_merchant_id.style.display = "none";
				comment_merchant_id.previousSibling.style.display = "none";
			} else {
				comment_merchant_id.style.display = "block";
				comment_merchant_id.previousSibling.style.display = "block";
			}
		});

	</script>
{% endblock %}