{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}

<div class="container">

	<div class="space-between">
		<h1>Tableau historique commentaires</h1>
		<div><button type="button" class="btn btn-success" data-toggle="modal" data-target="#createCommentModal" >Ajouter un commentaire</a></div>
	</div>

	<div id="createCommentModal" class="modal fade">
		{{ render(controller('ApdcApdcBundle:Tool:commentsForm', {'request': app.request} )) }}
	</div>

</div>

{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}