<?xml version="1.0"?>
<config>
    <modules>
        <Apdc_Delivery>
            <version>0.0.7</version>
        </Apdc_Delivery>
    </modules>
    <frontend>
        <routers>
            <delivery>
                <use>standard</use>
                <args>
                    <module>Apdc_Delivery</module>
                    <frontName>deliveryfront</frontName>
                </args>
            </delivery>
        </routers>
    </frontend>
    <global>
        <resources>
            <delivery_setup>
                <setup>
                    <module>Apdc_Delivery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </delivery_setup>
            <delivery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </delivery_write>
            <delivery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </delivery_read>
            <pmainguet_delivery_setup>
                <setup>
                    <module>Apdc_Delivery</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </pmainguet_delivery_setup>
        </resources>
        <models>
            <pmainguet_delivery>
                <class>Apdc_Delivery_Model</class>
                <resourceModel>delivery_resource</resourceModel>
            </pmainguet_delivery>           
            <delivery_resource>
                <class>Apdc_Delivery_Model_Resource</class>
                <entities>
                    <refund_order>
                        <table>refund_order</table>
                    </refund_order>
                    <refund_items>
                        <table>refund_items</table>
                    </refund_items>
                </entities>
            </delivery_resource>
        </models>
        <helpers>
            <pmainguet_delivery>
                <class>Apdc_Delivery_Helper</class>
            </pmainguet_delivery>
        </helpers>
        <template>
            <email>
                <delivery_emailcreditplus_template translate="label" module="pmainguet_delivery">
                    <label>Au Pas De Courses vient de traiter votre commande!</label>
                    <file>delivery/creditplus_template.html</file>
                    <type>html</type>
                </delivery_emailcreditplus_template>
                <delivery_emailcreditmoins_template translate="label" module="pmainguet_delivery">
                    <label>Au Pas De Courses vient de traiter votre commande!</label>
                    <file>delivery/creditmoins_template.html</file>
                    <type>html</type>
                </delivery_emailcreditmoins_template>
                <delivery_emailcreditnull_template translate="label" module="pmainguet_delivery">
                    <label>Au Pas De Courses vient de traiter votre commande!</label>
                    <file>delivery/creditnull_template.html</file>
                    <type>html</type>
                </delivery_emailcreditnull_template>
            </email>
        </template>
	</global>
</config>
