
.header-minicart #header-cart .minicart-wrapper {
    height: 100%;
    overflow: auto;
    padding-bottom: 105px;
    padding-top: 47px;
    width: 320px;
}

#header-cart {
    position:fixed;
    top: 0!important;
    right: -320px!important;
    bottom: 0;
    height: 100%;
    width: 320px;
    transition: transform 0.3s ease;
    transform: translateX(0px);
    display: block;
    left: auto;
    margin: 0;
    padding: 0;
}

.header-minicart #header-cart .block-subtitle {
    color: #339933;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0px;
    transition: transform 0.3s ease;
    background-color: #ffffff;
    z-index: 9;
    box-shadow: 2px 3px 13px -6px #8a8a8a;
    line-height: 35px;
    text-align: left;
    padding-left: 20px;
    height: 43px;
    width: 318px;
}
*::-ms-backdrop, .header-minicart #header-cart .block-subtitle {
    right:-320px!important;
}

.header-minicart #header-cart .block-subtitle .close {
    float: right;
    display: block;
    color: #636363;
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
    position: static;
    width: auto;
    opacity: 0.5;
}



#header-cart .mini-cart-bottom {
    position: fixed;
    bottom:0;
    left: auto;
    right: 0px!important;
    transition: transform 0.3s ease;
    height:100px;
    background-color:#ffffff;
    box-shadow: -2px -3px 13px -6px #8a8a8a;
    width: 318px;
    top: auto;
}
*::-ms-backdrop, #header-cart .mini-cart-bottom {
    right:-320px!important;
}
*::-ms-backdrop, .header-minicart #header-cart .block-subtitle, #header-cart .mini-cart-bottom {
    transform:translateX(0px);
}

#header-cart.skip-active {
    transform: translateX(-320px);
}
*::-ms-backdrop, .header-minicart #header-cart.skip-active .block-subtitle, #header-cart.skip-active .mini-cart-bottom {
    transform:translateX(-320px);
}

#header-cart .mini-cart-bottom .block-content {
    margin:0;
}
.header-minicart #header-cart .mini-products-list {
    padding:0;
    margin:0;
}
.header-minicart #header-cart .mini-products-list>li {
    border:none;
    padding:0;
    margin: 0;
}
.header-minicart #header-cart .mini-commercant-name {
    height: 40px;
    padding: 5px 20px 5px 10px;
    line-height: 30px;
    background-color: #3bb64b;
    color: #fff;
    border-bottom: 3px solid black;
    position: relative;
    cursor: pointer;
    width: 100%;
}

.header-minicart #header-cart a:hover {
    background-color: #1e555a;
    color: #ffffff;
    text-decoration: underline;
}

.header-minicart #header-cart .mini-commercant-name .title {
  font-family: "Open Sans";
  font-weight:600;
  font-size: 14px;
  display:inline-block;
}
.header-minicart #header-cart .mini-commercant-name .count {display:inline-block; float:right;}
.header-minicart #header-cart .mini-commercant-name i {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotateZ(0);
    transition: transform 0.3s ease;
}
.header-minicart #header-cart .mini-commercant-name.closed i {
    transform: translateY(-50%) rotateZ(180deg);
}
.header-minicart #header-cart .commercant-product-list {
    display: block;
    overflow: hidden;
    transition: max-height 0.4s ease;
}
.header-minicart #header-cart .mini-commercant-name.closed + .commercant-product-list {
    max-height:0px;
}
.header-minicart #header-cart .commercant-product-list .item {display: block;padding: 0;margin: 0;width: 100%;}
.header-minicart #header-cart .commercant-product-list .item-row {display: table-row;}
.header-minicart #header-cart .commercant-product-list .item-cell {display: table-cell;vertical-align: middle;padding: 5px 4px;width: 87px;}
.header-minicart #header-cart .commercant-product-list .item-cell.item-image {
    width: 54px;
    padding-right: 0px;
}
.header-minicart #header-cart .commercant-product-list .item-cell.item-name a {
    color: #333;
    font-size: 11px;
    line-height: 13px;
    display: block;
}
.header-minicart #header-cart .commercant-product-list .item-cell.item-name a.details {
    cursor: help;
    margin-top: 5px;
}

.header-minicart #header-cart .commercant-product-list .item-cell.item-qty {
    width: 70px;
}
.header-minicart #header-cart .commercant-product-list .item-cell.item-price {
    width: 75px;
    text-align: right;
}
.header-minicart #header-cart .commercant-product-list .item-cell.item-price .row-total {font-weight: bold;}
.header-minicart #header-cart .commercant-product-list .item-cell.item-price .unit-price {font-style: italic;font-size: 11px;}
.header-minicart #header-cart .commercant-product-list .item-cell.item-actions {
    width: 32px;
    text-align: center;
}
*::-ms-backdrop, .header-minicart #header-cart .commercant-product-list .item-cell.item-actions {
    text-align:left;
}
.header-minicart #header-cart .commercant-product-list .item-cell.item-qty .btn-icon-qty {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #fff;
    color: #3fa342;
    border-radius: 50%;
    border: 2px solid #3fa342;
    line-height: 17px;
    font-size: 10px;
    cursor: pointer;
}
.header-minicart #header-cart .commercant-product-list .item-cell.item-qty .btn-icon-qty.disabled {
    color:#ccc;
    border-color:#ccc;
}
.header-minicart #header-cart .commercant-product-list .item-cell.item-qty .qty-text {
    display:inline-block;
    float: left;
    width: 20px;
    text-align: center;
}
.header-minicart #header-cart .commercant-product-list .item-cell.item-qty .quantity-button {
    display:none;    
}
.header-minicart #header-cart .commercant-product-list .item-msg-required-option {
    padding:0 10px;
    font-weight:normal;
    font-size:12px;
}

.header-minicart #header-cart .commercant-product-list .item-details {
    display:none;
}
.header-minicart #header-cart .commercant-product-list .item-details.display {
    display: block;
}
.header-minicart #header-cart .commercant-product-list .item-details .truncated {
    cursor: default;
    width: 100%;
}
.header-minicart #header-cart .commercant-product-list .item-details .truncated .truncated_full_value {
    width: 100%;
}
.header-minicart #header-cart .commercant-product-list .item-details .item-options {margin: 0;}
.header-minicart #header-cart .commercant-product-list .item-details .item-options li {margin: 0;padding: 4px 5px;}
.header-minicart #header-cart .commercant-product-list .item-details .item-options li:last-child {border:none;padding-bottom: 0;}

.header-minicart #header-cart .commercant-product-list .item-details .item-options label {display: inline-block;}
.header-minicart #header-cart .commercant-product-list .item-details .item-options span {display: inline-block;}

.header-minicart .minicart-wrapper:before, .header-minicart .minicart-wrapper:after {
    position: fixed !important;
}

