{% block footer %}


<div id="push"></div>
       
<div id="footer">
	<div class="container">
		<div class="col-md-12" id="footer">
			<p class="muted credit">Indi - 2016.</p>
		</div>
	</div>
</div>

{% endblock %}
