<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true" 
    bootstrap="./app/autoload.php">
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_DIR" value="./app/"/>
    </php>
    <testsuites>
        <testsuite name="Indi tests directory">
            <directory suffix=".php">./tests/</directory>
            <exclude>./tests/Apdc/ApdcBundle/Controller/AbstractControllerTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>