<?xml version="1.0" encoding="UTF-8"?>

<!-- Lister les suites ./vendor/bin/phpunit --list-suites  -->
<!-- Run tous les tests "./vendor/bin/phpunit". Environ 4mn -->
<!-- Run une suite spécifique "./vendor/bin/phpunit --testsuite name" -->

<phpunit
    colors="true" 
    bootstrap="./app/autoload.php">
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <server name="KERNEL_DIR" value="./app/"/>
        <env name="DATABASE_URL" value="mysql://root:root@127.0.0.1/db_apdc"/>
    </php>
    <testsuites>
        <testsuite name="orders_controllers">
            <file>./tests/Apdc/ApdcBundle/Controller/MerchantsControllerTest.php</file>
            <file>./tests/Apdc/ApdcBundle/Controller/OrdersControllerTest.php</file>
            <file>./tests/Apdc/ApdcBundle/Controller/PickingControllerTest.php</file>
            <file>./tests/Apdc/ApdcBundle/Controller/ShippingControllerTest.php</file>
            <file>./tests/Apdc/ApdcBundle/Controller/StoresControllerTest.php</file>
        </testsuite>
        <testsuite name="refund_controller">
            <file>./tests/Apdc/ApdcBundle/Controller/RefundControllerTest.php</file>
        </testsuite>
        <testsuite name="billing_controller">
            <file>./tests/Apdc/ApdcBundle/Controller/BillingControllerTest.php</file>
        </testsuite>
        <testsuite name="magento_service">
            <file>./tests/Apdc/ApdcBundle/Services/MagentoTest.php</file>
        </testsuite>
        <testsuite name="orders_forms">
            <file>./tests/Apdc/ApdcBundle/Form/FromTest.php</file>
            <file>./tests/Apdc/ApdcBundle/Form/FromToTest.php</file>
            <file>./tests/Apdc/ApdcBundle/Form/FromToMerchantTest.php</file>
            <file>./tests/Apdc/ApdcBundle/Form/OrderIdTest.php</file>
        </testsuite>
        <testsuite name="magento_models">
            <file>./tests/Magento/Models/CatalogProductTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>