body {
	padding-top:		75px;
}

form div div {
	display:			inline-block;
}

form div {
	display:			inline-block;
}

form {
	display:			inline-block;
}

.error {
	background-color:	red;
}

span#logo {
	margin-top: -7px;
}
