body {
	padding-top:		75px;
}

form.inline div div {
	display:			inline-block;
}

form.inline div {
	display:			inline-block;
}

form.inline {
	display:			inline-block;
}

span#logo {
	margin-top:			-7px;
}

.error {
	background-color:	rgba(255,0,0,0.7);
}

.success {
	background-color:	rgba(51,204,51,0.7);
}

.warning {
	background-color:	rgba(255,153,0,0.7);
}

#ticket-gallery {
	display:			table;
	margin:				auto;
}

.gallery .item {
	display:		inline-block;
	vertical-align:	middle;
	width:			75px;
	height:			75px;
}

.gallery .item:hover {
	background-color:	rgba(255,153,0,0.7);
	box-shadow:			0px 0px 5px rgba(255,153,0,0.7);
}

.gallery img.link,
.gallery .link img {
	display:		table;
	margin:			auto;
	max-width:		75px;
	max-height:		75px;
	width:			auto;
	height:			auto;
}
