body {
	padding-top:		75px;
}

form.inline div div {
	display:			inline-block;
}

form.inline div {
	display:			inline-block;
}

form.inline {
	display:			inline-block;
}

span#logo {
	margin-top: -7px;
}

.error {
	background-color:	red;
}
