<?xml version="1.0"?>
<config>
    <modules>
        <Apdc_Commercant>
            <version>0.7.1</version>
        </Apdc_Commercant>
    </modules>

    <global>
        <blocks>
            <apdc_commercant>
                <class>Apdc_Commercant_Block</class>
            </apdc_commercant>
        </blocks>
        <helpers>
            <apdc_commercant>
                <class>Apdc_Commercant_Helper</class>
            </apdc_commercant>
        </helpers>
        <models>
            <apdc_commercant>
                <class>Apdc_Commercant_Model</class>
                <resourceModel>apdc_commercant_resource</resourceModel>
            </apdc_commercant>
            <apdc_commercant_resource>
                <class>Apdc_Commercant_Model_Resource</class>
                <entities>
                    <commercant>
                        <table>apdc_commercant</table>
                    </commercant>
                    <shop>
                        <table>apdc_shop</table>
                    </shop>
                    <typeshop>
                        <table>apdc_typeshop</table>
                    </typeshop>
                    <contact>
                        <table>apdc_commercant_contact</table>
                    </contact>
                    <contact_role>
                        <table>apdc_commercant_contact_role</table>
                    </contact_role>
                    <contact_role_assigned>
                        <table>apdc_commercant_contact_role_assigned</table>
                    </contact_role_assigned>
                    <bankInfo>
                        <table>apdc_bank_information</table>
                    </bankInfo>
                </entities>
            </apdc_commercant_resource>
        </models>
        <resources>
            <apdc_commercant_setup>
                <setup>
                    <module>Apdc_Commercant</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apdc_commercant_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <apdc_commercant>
                <use>standard</use>
                <args>
                  <module>Apdc_Commercant</module>
                  <frontName>shop</frontName>
                </args>
            </apdc_commercant>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Apdc_Commercant before="Mage_Adminhtml">Apdc_Commercant_Adminhtml</Apdc_Commercant>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
      <layout>
        <updates>
          <apdc_commercant>
            <file>apdc/apdc_commercant.xml</file>
          </apdc_commercant>
        </updates>
      </layout>
      <translate>
        <modules>
          <Apdc_Commercant>
            <files>
              <default>Apdc_Commercant.csv</default>
            </files>
          </Apdc_Commercant>
        </modules>
      </translate>
      <events>
        <catalog_category_delete_before>
          <observers>
            <apdc_commercant>
              <type>singleton</type>
              <class>apdc_commercant/observer</class>
              <method>cleanShopCategory</method>
            </apdc_commercant>
          </observers>
        </catalog_category_delete_before>
      </events>

    </adminhtml>
    <default>
      <apdc_general>
        <availability>
          <closing_message_delay>10</closing_message_delay>
        </availability>
      </apdc_general>
    </default>
</config>
