<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Pmainguet_Customhandles>
            <version>0.1.0</version>
        </Pmainguet_Customhandles>
    </modules>
    <global>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <customhandles>
                        <class>Pmainguet_Customhandles_Model_Observer</class>
                        <method>addCustomhandle</method>
                    </customhandles>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
</config>