<?xml version="1.0"?>
<config>
    <sections>
        <general>
            <groups>
                <store_information translate="label">
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <numero_RCS translate="label">
                            <label>Numéro RCS</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </numero_RCS>
                        <TVA_intra translate="label">
                            <label>Numéro de TVA intracommunautaire</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </TVA_intra>
                    </fields>
                </store_information>
            </groups>
        </general>
    </sections>
</config>  