<?xml version="1.0"?>
<config>
    <modules>
        <Apdc_Adminxyz>
            <version>0.0.1</version>
        </Apdc_Adminxyz>
    </modules>
    <global>
        <blocks>
        	<adminhtml>
	            <rewrite>
                    <sales_order>Apdc_Adminxyz_Block_Adminhtml_Sales_Order_Grid</sales_order>
	            </rewrite>
	        </adminhtml>
        </blocks>
    </global>
    <frontend>
        <routers>
            <trucmuche>
                <use>standard</use>
                <args>
                    <module>Apdc_Adminxyz</module>
                    <frontName>trucmuche</frontName>
                </args>
            </trucmuche>
        </routers>
    </frontend>
</config>