<?xml version="1.0"?>
<!--
/**
 * @package		AwoDev_AwoRewards
 * @copyright	Copyright (C) Seyi Awofadeju - All rights reserved.
 * @website		http://awodev.com
 * @license		http://awodev.com/content/magento-license
 **/
-->
<config>
	<modules>
		<AwoDev_AwoRewards>
			<version>1.0.2</version>
		</AwoDev_AwoRewards>
	</modules>
     
	<global>
		<helpers>
			<awodev_aworewards>
				<class>AwoDev_AwoRewards_Helper</class>
			</awodev_aworewards>
		</helpers>
		<blocks>
			<awodev_aworewards>
				<class>AwoDev_AwoRewards_Block</class>
			</awodev_aworewards>
		</blocks>
		<models>
			<awodev_aworewards>
				<class>AwoDev_AwoRewards_Model</class>
				<resourceModel>awodev_aworewards_mysql4</resourceModel>
			</awodev_aworewards>
			<!-- Here's our resource model we'll use to create a database table -->
			<awodev_aworewards_mysql4>
				<class>AwoDev_AwoRewards_Model_Mysql4</class>
				<entities>
					<!-- Let's define our table, we'll call it with the baz name, but the real table is foo_bar_baz -->
					<!-- After we define our entity, we can call it with our model by calling foo_bar/baz -->
					<rule><table>awodev_aworewards_rule</table></rule>
					<locale><table>awodev_aworewards_locale</table></locale>
					<invitation><table>awodev_aworewards_invitation</table></invitation>
					<referral><table>awodev_aworewards_referral</table></referral>
					<credit><table>awodev_aworewards_credit</table></credit>
					<payment><table>awodev_aworewards_payment</table></payment>
					<user><table>awodev_aworewards_user</table></user>
					<license><table>awodev_aworewards_license</table></license>
				</entities>
			</awodev_aworewards_mysql4>
		</models>
		<events>
			<customer_register_success>
				<observers>
					<awodev_aworewards_registration_observer>
						<type>singleton</type>
						<class>awodev_aworewards/observer</class>
						<method>triggerRegister</method>
					</awodev_aworewards_registration_observer>
				</observers>
			</customer_register_success>
			<sales_order_payment_pay>
				<observers>
					<awodev_aworewards_order_observer>
						<type>singleton</type>
						<class>awodev_aworewards/observer</class>
						<method>triggerOrder</method>
					</awodev_aworewards_order_observer>
				</observers>
			</sales_order_payment_pay>
			<customer_logout>
				<observers>
					<awodev_aworewards_customerlogout_observer>
						<type>singleton</type>
						<class>awodev_aworewards/observer</class>
						<method>triggerCustomerLogout</method>
					</awodev_aworewards_customerlogout_observer>
				</observers>
			</customer_logout>
		</events>
	
       
		<resources>
            <awodev_aworewards_setup>
				<setup>
					<module>AwoDev_AwoRewards</module>
				</setup>
			</awodev_aworewards_setup>
		</resources>
		<template>
			<email>
				<awodev_aworewards_payout_auto_email_template translate="label" module="awodev_aworewards">
					<label>AwoRewards Automatic Coupon</label>
					<file>awodev/aworewards/aworewards_coupon_auto.html</file>
					<type>html</type>
				</awodev_aworewards_payout_auto_email_template>
				
				<awodev_aworewards_payout_coupon_email_template translate="label" module="awodev_aworewards">
					<label>AwoRewards Request Coupon</label>
					<file>awodev/aworewards/aworewards_coupon_request.html</file>
					<type>html</type>
				</awodev_aworewards_payout_coupon_email_template>
					
                <awodev_aworewards_sponsor_mail_points_email_template translate="label" module="awodev_aworewards">
                    <label>AwoRewards Sponsor Points</label>
                    <file>awodev/aworewards/aworewards_sponsor_points.html</file>
                    <type>html</type>
                </awodev_aworewards_sponsor_mail_points_email_template>
                <awodev_aworewards_sponsor_mail_stat_email_template translate="label" module="awodev_aworewards">
                    <label>AwoRewards Sponsor Statistics</label>
                    <file>awodev/aworewards/aworewards_sponsor_statistics.html</file>
                    <type>html</type>
                </awodev_aworewards_sponsor_mail_stat_email_template>
            </email>
        </template>
	</global>
	
	<crontab>
		<jobs>
			<awodev_aworewards>
				<schedule>
					<cron_expr>*/10 * * * *</cron_expr>
				</schedule>
				<run>
					<model>awodev_aworewards/observer::cron</model>
				</run>
			</awodev_aworewards>
		</jobs>
	</crontab>
	<default>
        <awodev_aworewards>
        	<general>
        		<module_mode>separated</module_mode>        	
        	</general>
			<invitation>
				<referral_cookie_expire>7</referral_cookie_expire>
				<maxemailperinvite>30</maxemailperinvite>
				<maxinvitesperday>300</maxinvitesperday>
				<delaybetweeninvites>0</delaybetweeninvites>
			</invitation>
        	<sponsor>
				<mail_stat_email_template>awodev_aworewards_sponsor_mail_stat_email_template</mail_stat_email_template>
				<mail_points_email_template>awodev_aworewards_sponsor_mail_points_email_template</mail_points_email_template>
			</sponsor>
			<payout_auto>
				<email_template>awodev_aworewards_payout_auto_email_template</email_template>
				<point_ratio>1</point_ratio>
			</payout_auto>
			<payout_coupon>
				<email_template>awodev_aworewards_payout_coupon_email_template</email_template>
				<point_ratio>1</point_ratio>
			</payout_coupon>
			<payout_paypal>
				<point_ratio>1</point_ratio>
			</payout_paypal>
        </awodev_aworewards>
    </default>
    
	<!--
	<admin>
		<routers>
			<adminhtml>
				<use>admin</use>
				<args>
					<modules>
						<AwoDev_AwoRewards before="Mage_Adminhtml">AwoDev_AwoRewards_Adminhtml</AwoDev_AwoRewards>
						<frontName>aworewards</frontName>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	-->
	<admin>
		<routers>
			<awodev_aworewards>
				<use>admin</use>
				<args>
					<module>AwoDev_AwoRewards</module>
					<frontName>aworewards</frontName>
				</args>
			</awodev_aworewards>
		</routers>
	</admin>
    
	<adminhtml>
		<layout>
			<updates>
				<awodev_aworewards>
					<file>awodev/aworewards.xml</file>
				</awodev_aworewards>
			</updates>
		</layout>
		<translate>
			<modules>
				<AwoDev_AwoRewards>
					<files>
						<awodev_aworewards>AwoDev_AwoRewards.csv</awodev_aworewards>
					</files>
				</AwoDev_AwoRewards>
			</modules>
		</translate>
	</adminhtml>	
	
	<frontend>
		<layout>
			<updates>
				<awodev_aworewards>
					<file>awodev/aworewards.xml</file>
				</awodev_aworewards>
			</updates>
		</layout>
		<routers>
			<awodev_aworewards>
				<use>standard</use>
				<args>
					<module>AwoDev_AwoRewards</module>
					<frontName>aworewards</frontName>
				</args>
			</awodev_aworewards>
		</routers>
		<translate>
			<modules>
				<AwoDev_AwoRewards>
					<files>
						<default>AwoDev_AwoRewards.csv</default>
					</files>
				</AwoDev_AwoRewards>
			</modules>
		</translate>
	</frontend>

	
	
	
	
</config>
