<?xml version="1.0"?>
<config>
	<modules>
		<Apdc_CMS>
			<version>0.1.6</version>
		</Apdc_CMS>
	</modules>
    <global>
		<resources>
			<apdc_cms_setup>
				<setup>
					<module>Apdc_CMS</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</apdc_cms_setup>
		</resources>
        <models>
            <apdccms>
                <class>Apdc_CMS_Model</class>
            </apdccms>
        </models>
        <events>
            <adminhtml_cms_page_edit_tab_content_prepare_form>
                <observers>
                    <apdc_cms_model_observer>
                        <type>singleton</type>
                        <class>Apdc_CMS_Model_Observer</class>
                        <method>cmsField</method>
                    </apdc_cms_model_observer>
                </observers>
            </adminhtml_cms_page_edit_tab_content_prepare_form>
			<adminhtml_block_html_before>
				<observers>
					<apdc_cms_model_observer>
						<type>singleton</type>
						<class>Apdc_CMS_Model_Observer</class>
						<method>addFormEnctype</method>
					</apdc_cms_model_observer>
				</observers>
			</adminhtml_block_html_before>
			<cms_page_prepare_save>
				<observers>
					<apdc_cms_model_observer>
						<type>singleton</type>
						<class>Apdc_CMS_Model_Observer</class>
						<method>savePage</method>
					</apdc_cms_model_observer>
				</observers>
			</cms_page_prepare_save>
        </events>
    </global>
</config>