<?xml version="1.0"?>
<config>
    <modules>
        <Pmainguet_ProductsForm>
            <version>0.1.0</version>
        </Pmainguet_ProductsForm>
    </modules>
    <frontend>
        <routers>
            <productsform>
                <use>standard</use>
                <args>
                    <module>Pmainguet_ProductsForm</module>
                    <frontName>products-form</frontName>
                </args>
            </productsform>
        </routers>
        <layout>
            <updates>
                <carttotal>
                    <file>productsform.xml</file>
                </carttotal>
            </updates>
        </layout>
    </frontend> 
</config>