<?xml version="1.0"?>
<!-- /* @author Pierre Mainguet */-->
<config>
    <modules>
        <Apdc_Customer>
            <version>0.0.1</version>
        </Apdc_Customer>
    </modules>
    <global>
        <blocks>
			<apdc_customer>
                <class>Apdc_Customer_Block</class>
            </apdc_customer>
            <customer>
                <rewrite>
                    <account_navigation>Apdc_Customer_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <models>
            <apdccustomer>
                <class>Apdc_Customer_Model</class>
            </apdccustomer>
            <customer>
                <rewrite>
                    <customer>Apdc_Customer_Model_Customer</customer>
                </rewrite>
            </customer>
        </models>
        <helpers>
            <apdccustomer>
                <class>Apdc_Customer_Helper</class>
            </apdccustomer>
        </helpers>
    </global>
    <frontend>
        <routers>
            <apdc_customer>
                <use>standard</use>
                <args>
                    <module>Apdc_Customer</module>
                    <frontName>apdc-customer</frontName>
                </args>
            </apdc_customer>
			<customer>
				<args>
					<modules>
						<apdc_customer before="Mage_Customer">Apdc_Customer</apdc_customer>
					</modules>
				</args>
			</customer>
        </routers>
        <events>
            <controller_action_postdispatch_customer_account_createPost>
                <observers>
                    <apdc_customer>
                        <type>singleton</type>
                        <class>apdccustomer/observer_frontend</class>
                        <method>controllerActionPostdispatchCreatePostAction</method>
                    </apdc_customer>
                </observers>
            </controller_action_postdispatch_customer_account_createPost>
            <customer_register_success>
                <observers>
                    <apdc_customer>
                        <type>singleton</type>
                        <class>apdccustomer/observer_frontend</class>
                        <method>customerRegisterSuccess</method>
                    </apdc_customer>
                </observers>
            </customer_register_success>
            <customer_registration_is_allowed>
                <observers>
                    <apdc_customer>
                        <type>singleton</type>
                        <class>apdccustomer/observer_frontend</class>
                        <method>customerRegistrationAllowed</method>
                    </apdc_customer>
                </observers>
            </customer_registration_is_allowed>
            <customer_login>
                <observers>
                    <apdc_customer>
                        <type>singleton</type>
                        <class>apdccustomer/observer_frontend</class>
                        <method>customerLoggedIn</method>
                    </apdc_customer>
                </observers>
            </customer_login>
        </events>
    </frontend>
</config>
