{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class ="container">
	<h1> Adyen Index </h1>
{% include 'ApdcApdcBundle::forms/default.html.twig' %}
</div>

	<table class='table'>
		{% for order in orders %}
			<tr>
				<td><a href="{{ path('refundAdyenForm', {id: order.id}) }}" target="_blank">{{ order.id }}</a></td>
				</td>
			</tr>
		{% endfor %}
	</table>	

{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
