{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}

<div class="container">
	
	<div>
		<h2>Cloturer la commande {{ " # " ~  id }}</h2>
		<input type="submit" name="close" value="Cloturer" class="btn btn-success btn-lg"/>
	</div>
	
	<hr/>
	
	<h3>Recap des statuts de la commande</h3>

	<table class="table table-striped">
		<tr>
			<th>Le</th>
			<th>Statut</th>
			<th>Commentaire</th>
		</tr>

		{% for order in order_history %}
			<tr>	
				<td>{{ order.data.created_at|date_modify("+2 hours")|date('d/m/Y H:i:s') }}</td>
				<td>{{ order.data.status }}</td>
				<td>{{ order.data.comment|raw }}</td>
			</tr>
		{% endfor %}
	</table>
	
</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
