{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
	{% set psp_reference = 0 %}

	{% for order, fields in orders %}
		{% if fields.merchant_reference == id %}
			{% set psp_reference = psp_reference + fields.pspreference %}
		{% endif %}
	{% endfor %}

	{% set customer_name = order[-1]["order"]["first_name"] ~ " " ~ order[-1]["order"]["last_name"] %}

	<div class="row">
		{% if psp_reference != 0 %}
			{% include 'ApdcApdcBundle::refund/adyen.html.twig' %}
		{% else %}
			{% include 'ApdcApdcBundle::refund/hipay.html.twig' %}
		{% endif %}
	</div>

{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}

{% block javascript_refund %}
	<script type="text/javascript" src="{{ path('root') }}js/mistral-delivery.js"></script>
{% endblock %}
