<div class="row">
	<div class="col-sm-12">
		<h1>#{{ id ~ " / " ~ customer_name }}<small> Rembourser via HiPay</small></h1>
		<div><h4>Montant à rembourser : {{ refund_diff ~ " € " }}</h4></div>
		<a href="http://www.hipaywallet.com" target="_blank">
			<input type="button" class="btn btn-success" value="Plateforme Hipay"/>
		</a>
	</div>
