<div class="row">
	<div class="col-sm-12">
		<h1>#{{id}}<small> Rembourser via HiPay</small></h1>
		<a href="http://www.hipaywallet.com" target="_blank">
			<input type="button" class="btn btn-success" value="Plateforme Hipay"/>
		</a>
	</div>