<div class="row">
	<div class="col-sm-12">
		<h1>#{{id}}<small> Rembourser via HiPay</small></h1>
		<a href={{ adyen_platform_first_part ~ psp_reference ~ adyen_platform_second_part }} target="_blank">
			<input type="button" class="btn btn-success" value="Plateforme Adyen"/>
		</a>
	</div>