{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
	<div class="col-sm-2">
		<a href="{{ path('refundIndex') }}" type="submit" name="submit" value='previous' class="btn btn-default"><< Retour</a>
	</div>
	<div class="progress col-sm-8">
		<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
	    	<span>Upload</span>
		</div>
	</div>
	<div class="col-sm-2">
		<a href="{{ path('refundInput', {id:id}) }}" type="submit" name="submit" value='next' class="btn btn-default right">Suivant >></a>
	</div>
	<h1> Remboursement : Upload des fichiers </h1>
	{% include 'ApdcApdcBundle::forms/default.html.twig' %}
</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}