<?xml version="1.0"?>
<config>

  <modules>
    <Apdc_Neighborhood>
      <version>0.2.4</version>
    </Apdc_Neighborhood>
  </modules>

  <global>
    <blocks>
      <apdc_neighborhood>
        <class>Apdc_Neighborhood_Block</class>
      </apdc_neighborhood>
    </blocks>
    <helpers>
      <apdc_neighborhood>
        <class>Apdc_Neighborhood_Helper</class>
      </apdc_neighborhood>
    </helpers>
    <models>
      <apdc_neighborhood>
        <class>Apdc_Neighborhood_Model</class>
        <resourceModel>apdc_neighborhood_resource</resourceModel>
      </apdc_neighborhood>
      <apdc_neighborhood_resource>
        <class>Apdc_Neighborhood_Model_Resource</class>
        <entities>
          <neighborhood>
            <table>apdc_neighborhood</table>
          </neighborhood>
        </entities>
      </apdc_neighborhood_resource>
    </models>
    <resources>
      <apdc_neighborhood_setup>
        <setup>
          <module>Apdc_Neighborhood</module>
          <class>Mage_Catalog_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </apdc_neighborhood_setup>
    </resources>
    <template>
      <email>
        <apdc_neighborhood_notifications_template_notification_change_neighborhood translate="label" module="apdc_neighborhood">
          <label>Neighborhood - Notification de changement de quartier</label>
          <file>apdc/neighborhood/notification_change_neighborhood.html</file>
          <type>html</type>
        </apdc_neighborhood_notifications_template_notification_change_neighborhood>
      </email>
    </template>
  </global>

  <frontend>
    <routers>
      <apdc_neighborhood>
        <use>standard</use>
        <args>
          <module>Apdc_Neighborhood</module>
          <frontName>neighborhood</frontName>
        </args>
      </apdc_neighborhood>
    </routers>
    <layout>
      <updates>
        <apdc_neighborhood>
          <file>apdc_neighborhood.xml</file>
        </apdc_neighborhood>
      </updates>
    </layout>
    <translate>
      <modules>
        <Apdc_Neighborhood>
          <files>
            <default>Apdc_Neighborhood.csv</default>
          </files>
        </Apdc_Neighborhood>
      </modules>
    </translate>
    <events>
      <controller_action_predispatch>
        <observers>
          <apdc_neighborhood>
            <type>singleton</type>
            <class>apdc_neighborhood/observer</class>
            <method>setNeighborhoodVisiting</method>
          </apdc_neighborhood>
        </observers>
      </controller_action_predispatch>
    </events>
  </frontend>

  <adminhtml>
    <layout>
      <updates>
        <apdc_neighborhood>
          <file>apdc/apdc_neighborhood.xml</file>
        </apdc_neighborhood>
      </updates>
    </layout>
    <translate>
      <modules>
        <Apdc_Neighborhood>
          <files>
            <default>Apdc_Neighborhood.csv</default>
          </files>
        </Apdc_Neighborhood>
      </modules>
    </translate>

  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Apdc_Neighborhood before="Mage_Adminhtml">Apdc_Neighborhood_Adminhtml</Apdc_Neighborhood>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config>
