{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
	<h1>MAP CUSTOMERS</h1>
</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}

{% block css_mapCustomers %}

{% endblock %}
{% block javascript_mapCustomers %}

{% endblock %}
