<?xml version="1.0"?>
<config>
    <modules>
        <Pmainguet_Invoice>
            <version>0.1.0</version>
        </Pmainguet_Invoice>
    </modules>
    <global>
        <models>
            <sales>
                <rewrite>
                    <!-- <order_pdf_abstract>Pmainguet_Invoice_Model_Order_Pdf_Abstract</order_pdf_abstract> -->
                    <order_pdf_invoice>Pmainguet_Invoice_Model_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_items_invoice_default>Pmainguet_Invoice_Model_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <invoice>
                <class>Pmainguet_Invoice_Helper</class>
            </invoice>
            <amdeliverydate>
                <rewrite>
                    <pdf>Pmainguet_Invoice_Helper_Deliverydate_Pdf</pdf>
                </rewrite>
            </amdeliverydate>
            <amorderattr>
                <rewrite>
                    <pdf>Pmainguet_Invoice_Helper_Orderattr_Pdf</pdf>
                </rewrite>
            </amorderattr>
        </helpers>
    </global>
</config>