<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Pierre Mainguet
 * @package Apdc_Config
 * All custom config
 * Customhandles: observer that add custom handles to specific page
 */
-->
<config>
    <modules>
        <Apdc_Config>
            <version>0.1.0</version>
        </Apdc_Config>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                      <html_footer>Apdc_Config_Block_Html_Footer</html_footer>
                </rewrite>
            </page>
        </blocks>
        <models>
            <apdcconfig>
                    <class>Apdc_Config_Model</class>
            </apdcconfig>
            <sitemap>  
                <rewrite>  
                    <sitemap>Apdc_Config_Model_Sitemap</sitemap> 
                </rewrite>
            </sitemap>  
        </models>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <apdc_admin_customhandles>
                        <class>apdcconfig/observer</class>
                        <method>addCustomhandle</method>
                    </apdc_admin_customhandles>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <!-- A bouger ? -->
    <crontab>
        <jobs>
            <ebizmarts_autoresponder>
                <schedule>
                    <cron_expr>6 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ebizmarts_autoresponder/cron::autoresponder</model>
                </run>
            </ebizmarts_autoresponder>
        </jobs>
    </crontab>
</config>