<?xml version="1.0" ?>
<config>
    <sections>
        <magmi translate="label comment">
            <label>MAGMI</label>
            <tab>apdc</tab>
            <sort_order>10</sort_order>
            <frontend_type>text</frontend_type>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <magmiconfig translate="label">
                    <label>Config Magmi</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <comment></comment>
                    <fields>
                        <met_key translate='label'>
                          <label>Mass Edit Template Key</label>
                          <frontend_type>text</frontend_type>
                          <sort_order>20</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>0</show_in_website>
                          <show_in_store>0</show_in_store>
                          <comment></comment>
                        </met_key>
                        <met_id translate='label'>
                          <label>Mass Edit Template Id</label>
                          <frontend_type>text</frontend_type>
                          <sort_order>30</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>0</show_in_website>
                          <show_in_store>0</show_in_store>
                          <comment></comment>
                        </met_id>
                    </fields>
                </magmiconfig>
            </groups>
        </magmi>
    </sections>
</config>

