/*Modification CSS pour avoir même visuel que Zillah parent*/

body, button, input, select, textarea {
    color: #6f6e6b;
    font-family: 'Merriweather', Georgia, serif;
    font-size: 16px;
    line-height: 1.75;
    background: #f6f6f6;
}

a,a:visited {
    color: #7fcaad;
}

a:hover, a:active {
    outline: 0;
}
a:hover, a:focus, a:active {
    color: #628d7c;
    text-decoration: none;
}

.color-overlay{
    height: 100%;
    padding: 124px 0;
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.60) 0, rgba(0,0,0,0.30) 40%, rgba(0,0,0,0.2) 100%);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.60) 0, rgba(0,0,0,0.30) 40%, rgba(0,0,0,0.2) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,0.60) 0, rgba(0,0,0,0.30) 40%, rgba(0,0,0,0.2) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
}

.site-title a {
    color: #6ca790;
    opacity: 1;
}


.entry-title-blog a {
    font-size: 24px;
    font-size: 1em;
    color: #575756;
    margin: 0;
}

@media screen and (min-width: 1200px) {

    .container {
        width: 970px;
    }

}

@media screen and (min-width: 1600px) {

    .container {
        width: 1200px;
    }

    .entry-content {
        font-size: 16px;
        font-size: 1em;
    }

    .main-navigation li a {
        padding: 5px 17px;
    }

    .social-navigation a {
        margin-right: 20px;
    }

    .header-inner-site-branding {
        padding: 0 0;
    }

    .content-inner-wrap,
    .comments-area-wrap .comments-area {
        max-width: 840px;
    }

}


@media screen and (max-width: 600px) {

    body {
        font-size: 15px;
    }

    .comment-content {
        font-size: 15px;
        font-size: 1em;
    }

    .comment-author .fn, .comment-author .fn a, .comment-metadata, .comment-metadata a {
        letter-spacing: 0.5px;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
    }
}

/*Autres modifications*/
