<?xml version="1.0"?>
<config>

  <modules>
    <Apdc_Partner>
      <version>0.1.0</version>
    </Apdc_Partner>
  </modules>

  <global>
    <blocks>
      <apdc_partner>
        <class>Apdc_Partner_Block</class>
      </apdc_partner>
    </blocks>
    <helpers>
      <apdc_partner>
        <class>Apdc_Partner_Helper</class>
      </apdc_partner>
    </helpers>
    <models>
      <apdc_partner>
        <class>Apdc_Partner_Model</class>
        <resourceModel>apdc_partner_resource</resourceModel>
      </apdc_partner>
      <apdc_partner_resource>
        <class>Apdc_Partner_Model_Resource</class>
        <entities>
          <partner>
            <table>apdc_partner</table>
          </partner>
        </entities>
      </apdc_partner_resource>
    </models>
    <resources>
      <apdc_partner_setup>
        <setup>
          <module>Apdc_Partner</module>
          <class>Mage_Catalog_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </apdc_partner_setup>
    </resources>
  </global>

  <frontend>
    <routers>
      <apdc_partner>
        <use>standard</use>
        <args>
          <module>Apdc_Partner</module>
          <frontName>partner</frontName>
        </args>
      </apdc_partner>
    </routers>
    <layout>
      <updates>
        <apdc_partner>
          <file>apdc_partner.xml</file>
        </apdc_partner>
      </updates>
    </layout>
    <translate>
      <modules>
        <Apdc_Partner>
          <files>
            <default>Apdc_Partner.csv</default>
          </files>
        </Apdc_Partner>
      </modules>
    </translate>
  </frontend>

  <adminhtml>
    <layout>
      <updates>
        <apdc_partner>
          <file>apdc/apdc_partner.xml</file>
        </apdc_partner>
      </updates>
    </layout>
    <translate>
      <modules>
        <Apdc_Partner>
          <files>
            <default>Apdc_Partner.csv</default>
          </files>
        </Apdc_Partner>
      </modules>
    </translate>

  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Apdc_Partner before="Mage_Adminhtml">Apdc_Partner_Adminhtml</Apdc_Partner>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>

  <crontab>
    <jobs>
      <apdc_partner_generate_product_list>
        <schedule>
          <cron_expr>0 * * * *</cron_expr> <!-- Every day at 1:00am -->
        </schedule>
        <run>
          <model>apdc_partner/cron::generateProductExport</model>
        </run>
      </apdc_partner_generate_product_list>
    </jobs>
  </crontab>
</config>
