{% extends 'base.html.twig' %}

{% use '/menu/default.html.twig' %}

{% block body %}
	<div id="ticket_carousel" class="owl-carousel">
		{% for merchant_id, file in files %}
			<img class="item" src="{{file.url}}">
		{% endfor %}
	</div>
{% endblock %}
