{% extends 'base.html.twig' %}
{% use '/menu/default.html.twig' %}

{% block body %}
	{{dump(order)}}
	{% for merchant_id, merchant_part in order %}
		<div class='row'>
			<table class='table'>
				<tr>
					<td>
						<div id='{{merchant_id}}' class='merchant-ticket' style='width: 350px; height: 400px;' value='{{merchantt_part.merchant.ticket}}'></div>
					</td>
					<td>
						<!-- refund table with form inputs -->
					</td>
				</tr>
			</table>
		</div>
	{% endfor %}
	<!-- submit -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('merchant-ticket').on('load', function(event){
				var id = $(this).attr('id');
				var value = $(this).attr('value');

				OpenSeadragon({
					id: id,
					prefixUrl: '/media/osd/',
					tileSources: {
						type: 'image',
						url: value
					}
				});
			});
		});
	</script>	
{% endblock %}
