{% extends 'base.html.twig' %}

{% use '/menu/default.html.twig' %}

{% block body %}
	{% include 'forms/default.html.twig' %}
	<pre>
		{#{ dump(order) }#}
	</pre>
	<a href="{{ path('refundAttachment', { 'id' : order_id }) }}">Etape Suivante</a>
{% endblock %}
