<?xml version="1.0"?>
<config>
    <modules>
        <Pmainguet_CommercantForm>
            <version>0.1.0</version>
        </Pmainguet_CommercantForm>
    </modules>
    <frontend>
        <routers>
            <commercantform>
                <use>standard</use>
                <args>
                    <module>Pmainguet_CommercantForm</module>
                    <frontName>commercant-form</frontName>
                </args>
            </commercantform>
        </routers>
        <layout>
            <updates>
                <carttotal>
                    <file>commercantform.xml</file>
                </carttotal>
            </updates>
        </layout>
    </frontend> 
</config>