Order Deny,Allow
Deny from all

<Files *>
    Order Allow,Deny
    Allow from all
</Files>

<FilesMatch ".*\.(phtml|css|js|png|json)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

php_value upload_max_filesize 10M
php_value post_max_size 10M