<?xml version="1.0"?>
<!-- /* @author Pierre Mainguet*/ -->
<config>
    <modules>
        <Apdc_Cart>
            <version>0.1.0</version>
        </Apdc_Cart>
    </modules>
    <global>
        <blocks>
            <apdccart>
                <class>Apdc_Cart_Block</class>
            </apdccart>
        </blocks>
        <models>
            <apdccart>
                <class>Apdc_Cart_Model</class>
            </apdccart>
        </models>
        <rewrite>
            <ajax_cart> <!--This can be any unique id -->
                <from><![CDATA[#^/checkout/cart/#]]></from>  <!-- the URL which u want to override-->
                <to>/addajax/index/</to>  <!-- destination url -->
            </ajax_cart>
        </rewrite>
    </global>
    <frontend>
        <layout>
            <updates>
                <apdccart>
                    <file>apdc_cart.xml</file>
                </apdccart>
            </updates>
        </layout>
        <routers>
            <addajax>
                <use>standard</use>
                <args>
                    <module>Apdc_Cart</module>
                    <frontName>addajax</frontName>
                </args>
            </addajax>
          <checkout>
            <args>
              <modules>
                <Apdc_Cart before="Mage_Checkout">Apdc_Cart</Apdc_Cart>
              </modules>
            </args>
          </checkout>
        </routers>
    </frontend>
</config>