<?xml version="1.0"?>
	<config>
		<modules>
	      <Pmainguet_Commercants>
			<version>0.0.2</version>
	      </Pmainguet_Commercants>
	    </modules>
	    <frontend>
	      <routers>
	      		<commercants>
	      			<use>standard</use>
	      			<args>
	      				<module>Pmainguet_Commercants</module>
	      				<frontName>commercants</frontName>
	      			</args>
	      		</commercants>
	      	</routers>
	      	<layout>
				<updates>
				  <commercants>
				    <file>commercants.xml</file>
				  </commercants>
				</updates>
			</layout>
	    </frontend>
	    <!-- <admin>
	      <routers>
			<commercants>
			  <use>admin</use>
			  <args>
			    <module>Pmainguet_Commercants</module>
			    <frontName>admincommercants</frontName>
			  </args>
			</commercants>
	      </routers>
	    </admin> -->
	      <!-- <adminhtml>
	      	<layout>
	      		<updates>
	      			<commercants>
	      				<file>commercants.xml</file>
	      			</commercants>
	      		</updates>
	      	</layout>
	      	<menu>
			   <commercants translate="title" module="adminhtml">
			       <title>Gestion custom</title>
			       <sort_order>100</sort_order>
			       <children>
			          <set_time>
			             <title>Commercants</title>
			             <action>admincommercants/adminhtml_index</action>
			          </set_time>
			      </children>
			   </commercants>
			</menu>
	      </adminhtml> -->
	    <global>
	        <blocks>
				<commercants>
				  <class>Pmainguet_Commercants_Block</class>
				</commercants>
				<adminhtml>
		            <rewrite>
		                <customer_edit_tab_account>Pmainguet_Commercants_Block_Adminhtml_Editcustomer</customer_edit_tab_account>
		            </rewrite>
		        </adminhtml> 
		    </blocks>
	        <resources>
	            <commercants_write>
	                <connection>
	                    <use>core_write</use>
	                </connection>
	            </commercants_write>
	            <commercants_read>
	                <connection>
	                    <use>core_read</use>
	                </connection>
	            </commercants_read>
	            <pmainguet_commercants_setup>
	                <setup>
	                    <module>Pmainguet_Commercants</module>
	                    <class>Mage_Catalog_Model_Resource_Setup</class>
	                </setup>
	            </pmainguet_commercants_setup>
	        </resources>
	        <models>
	    		<commercants_model>
		    		<class>Pmainguet_Commercants_Model</class>
		    		<resourceModel>commercants_resource</resourceModel>
	    		</commercants_model>
	    		<commercants_resource>
		            <class>Pmainguet_Commercants_Model_Resource</class>
		            <entities>
		                <ficheentity>
		                    <table>commercants</table>
		                </ficheentity>
		            </entities>
		        </commercants_resource>
	    	</models>
	        <helpers>
	            <pmainguet_commercants>
	                <class>Pmainguet_Commercants_Helper</class>
	            </pmainguet_commercants>
	        </helpers>
		</global>
	</config>