<?xml version="1.0"?>
	<config>
		<modules>
	      <Pmainguet_Weblog>
			<version>1.0.0</version>
	      </Pmainguet_Weblog>
	    </modules>
	    <frontend>
	      <routers>
	      		<commercants>
	      			<use>standard</use>
	      			<args>
	      				<module>Pmainguet_Commercants</module>
	      				<frontName>commercants</frontName>
	      			</args>
	      		</commercants>
	      	</routers>
	      	<layout>
				<updates>
				  <commercants>
				    <file>commercants.xml</file>
				  </commercants>
				</updates>
			</layout>
	    </frontend>
	    <!-- <admin>
	      <routers>
			<commercants>
			  <use>admin</use>
			  <args>
			    <module>Pmainguet_Commercants</module>
			    <frontName>admincommercants</frontName>
			  </args>
			</commercants>
	      </routers>
	    </admin> -->
	      <!-- <adminhtml>
	      	<layout>
	      		<updates>
	      			<commercants>
	      				<file>commercants.xml</file>
	      			</commercants>
	      		</updates>
	      	</layout>
	      	<menu>
			   <commercants translate="title" module="adminhtml">
			       <title>Gestion custom</title>
			       <sort_order>100</sort_order>
			       <children>
			          <set_time>
			             <title>Commercants</title>
			             <action>admincommercants/adminhtml_index</action>
			          </set_time>
			      </children>
			   </commercants>
			</menu>
	      </adminhtml> -->
	    <global>
	    	<blocks>
				<commercants>
				  <class>Pmainguet_Commercants_Block</class>
				</commercants>
		    </blocks>
	    	<models>
	    		<commercants_model>
		    		<class>Pmainguet_Commercants_Model</class>
		    		<resourceModel>commercants_resource</resourceModel>
	    		</commercants_model>
	    		<commercants_resource>
		            <class>Pmainguet_Commercants_Model_Resource</class>
		            <entities>
		                <ficheentity>
		                    <table>commercants</table>
		                </ficheentity>
		            </entities>
		        </commercants_resource>
	    	</models>
		    <helpers>
			   <commercants>
		          <class>Pmainguet_Commercants_Helper</class>
			    </commercants>
			</helpers>
	    </global>
	</config>