<?xml version="1.0"?>
<config>
    <modules>
        <Pmainguet_CartTotal>
            <version>0.1.0</version>
        </Pmainguet_CartTotal>
    </modules>
    <global>
        <blocks>
            <carttotal>
                <class>Pmainguet_CartTotal_Block</class>
            </carttotal>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <carttotal>
                    <file>carttotal.xml</file>
                </carttotal>
            </updates>
        </layout>
    </frontend>
</config>