h1.account-title{
    font-size: 2.25rem;
    letter-spacing: normal;
    color: $color-main-green;
    margin: 40px 20px;
}
.my-account{
    background-color: #fff;
    border-radius: 5px;
    max-width: 1300px;
    margin: 40px auto 0;
    padding: 40px;
    .block-account{
        .menu-account{
            list-style-type: none;
            padding-left: 0;
            li{
                &:first-child{
                    a{
                        -webkit-border-radius: 5px 5px 0 0;
                        border-radius: 5px 5px 0 0;
                    }
                }
                &:last-child{
                    a{
                        border: 0;
                        -webkit-border-radius: 0 0 5px 5px;
                        border-radius: 0 0 5px 5px;
                    }
                }
                &.current, &:hover{
                    a{
                        background-color: $color-second-green;
                    }
                }
                a{
                    display: block;
                    color: #fff;
                    font-size: 1.125rem;
                    padding: 30px 30px 30px 50px;
                    border-bottom: 1px solid #59B26C;
                    background-color: $color-main-green;
                    i{
                        margin-top: -7px;
                    }
                }
            }
        }
    }
    .box-account{
        &.addresses-list{
            .button{
                font-size: 0.875rem;
            }
        }
        h2{
            font-weight: 700;
            font-size: 2rem;
            color: $color-second-green;
            text-transform: none;
            text-align: left;
            letter-spacing: normal;
            margin: 0 0 40px;
        }
        h3{
            font-weight: 700;
            font-size: 1.125rem;
            color: #333;
            text-align: left;
            text-transform: none;
            letter-spacing: normal;
        }
        .field{
            padding: 20px 0;
            border-bottom: 1px solid #eee;
            label, p{
                font-size: 1.125rem;
                margin: 0;
            }
        }
        .button{
            font-weight: normal;
        }
        .form-list{
            list-style-type: none;
            padding-left: 0;
            input[type=text],
            input[type=password],
            input[type=tel],
            select{
                color: $color-main-grey;
                font-size: 0.875rem;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #eee;
                background-color: #f6f6f6;
                width: 100%;
                height: auto;
                outline: none;
            }
            .field{
                border-bottom: 0;
            }
            label{
                font-size: 0.875rem;
                color: $color-main-grey;
                font-weight: normal;
                em{
                    color: $color-main-green;
                }
            }
            .change-password{
                margin-top: 20px;
                label{
                    font-size: 1rem;
                    font-weight: normal;
                }
            }
        }
    }
    .newsletter-wrapper{
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        h4{
            font-weight: 700;
            font-size: 1.125rem;
            color: #333;
            text-align: left;
            text-transform: none;
        }
    }
}