.delivery_days {
  margin-top: 5px;
  h3.delivery_days_title, div{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }
  h3.delivery_days_title {
    font-size: 1rem;
    display:block;
    text-align:right;
    font-weight: 700;
    margin: 0 15px 5px 0;
    letter-spacing: normal;
    text-transform: none;
    color: $color-second-green;
  }
  table{
    text-align: center;
    th{
      border-bottom: 1px solid #ddd;
      padding: 7px;
      text-transform: uppercase;
      font-size: 0.875rem;
      &.yes{
        color: #333;
      }
      &.no{
        color: $color-main-grey;
      }
    }
    td{
      font-size: 1.125rem;
      padding: 7px;
      i.fa-check{
        color: $color-main-green;
      }
      i.fa-close{
        color: $color-main-grey;
      }
    }
  }
}
.catalog-category-view{
    .main-container{
        background: none;
        padding-bottom: 0;
    }
    h2{
        font-size: 1.125rem;
        font-weight: 700;
        color: $color-second-green;
        text-transform: none;
        text-align: left;
        margin: 0 0 20px;
        letter-spacing: normal;
    }
    .commercant_product_cat,
    .breadcrumbs{
        display: none;
    }
    .commercant-collapse{
        padding: 20px 20px 0;
        max-width: 1600px;
        .commercant-info{
            padding-bottom: 20px;
            .commercant-name{
                    display: inline-block;
                    vertical-align: middle;
                h1{
                    font-size: 2.25rem;
                    font-weight: 700;
                    color: $color-main-green;
                    text-transform: none;
                    margin: 0 0 5px;
                    a{
                        color: $color-main-green;
                    }
                }
                a{
                    color: #333;
                }
            }
            .photo-commercant{
                display: inline-block;
                vertical-align: middle;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 15px;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            .open-collapse{
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 3px solid #ddd;
                text-align: center;
                line-height: 59px;
                cursor: pointer;
                margin-top: 10px;
                &.open{
                    line-height: 53px;
                }
                i{
                    font-size: 2.25rem;
                    color: #ddd;
                }
            }
					
						.shop-availability {
                background-color:$color-dark-orange;
                margin-top:10px;
                border-radius:3px;
                box-shadow:1px 1px 10px -1px rgba(0, 0, 0, 0.51);
                .shop-availability-container {
                  margin:0 auto;
                  display:table;
                  .cell {
                    display:table-cell;
                    vertical-align:middle;
                    padding:1px 10px 5px 10px;
                  }
                  .shop-availability-icon {
                    color:$color-white;
                    font-size:30px;
                  }
                  .shop-availability-content {
                    span {
                      color:$color-white;
                      font-size:13px;
                    }
                    p {
                      color:$color-white;
                      margin:0;
                      &.shop-availability-message {
                        font-weight:bold;
                        font-size: 19px;
                      }
                      &.shop-availability-message-info {
                        font-style:italic;
                      }
                    }
                  }
                }
						}
        }
        .collapse-wrapper{
            display: none;
            position: relative;
            border-top: 1px solid #ddd;
            padding: 20px;
            overflow: hidden;
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
            &.open{
                display: block;
            }
            .commercant-img{
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .desc-commercant{
                h2{
                    font-size: 1.125rem;
                    font-weight: 700;
                    color: $color-second-green;
                    text-transform: none;
                    text-align: left;
                    margin: 0 0 20px;
                    letter-spacing: normal;
                }
                p{
                    font-size: .875rem;
                    color: $color-main-grey;
                }
            }
        }
    }

    .title-block{
        font-size: 2.25rem;
        font-weight: 700;
        color: $color-main-green;
        text-transform: uppercase;
        margin: 0 0 5px;
        text-align: center;
    }

    .block-promos{
        margin-top: 0;
        padding-bottom: 0;
        background: none;
        .inner-box{
            padding-top: 0;
        }
        #carrousel-selection-home{
            padding-bottom: 50px;
            margin-bottom: 0;
            overflow: visible!important;
            &:after{
                content: "";
                display: block;
                width: 90%;
                height: 1px;
                background-color: #eee;
                margin: 50px auto 0;
            }
            &.apdc-all-products-slider-by-commercant{
                overflow: hidden!important;
                margin-left: -15px;
                width: calc(100% + 31px);
                padding: 0 30px 45px;
                position: relative;
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 100%;
                    background: #fff;
                    z-index: 10;
                }
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 20px;
                    height: 100%;
                    background: #fff;
                    z-index: 10;
                }
                .owl-stage-outer{
                    overflow: visible!important;
                    .owl-item{
                        margin-bottom: 10px;
                        z-index: 100;
                        &:hover{
                            background: #fff;
                            .display-hover{
                                visibility: visible;
                                height: auto;
                            }
                            form{
                                z-index: 1000;
                                overflow: auto;
                            }
                        }
                        form{
                            max-height: 470px;
                            &::-webkit-scrollbar-track{
                                -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
                                border-radius: 10px;
                                background-color: #F5F5F5;
                            }
                            &::-webkit-scrollbar{
                                width: 5px;
                                background-color: #F5F5F5;
                                z-index: 10;
                                position: relative;
                            }
                            &::-webkit-scrollbar-thumb{
                                border-radius: 10px;
                                -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
                                background-color: #999;
                            }
                        }
                        .display-hover{
                            position: relative;
                            visibility: hidden;
                            height: 0;
                            margin: 0;
                            padding: 0 9px;
                            text-align: left;
                            .apdc-product-custom-options{
                                padding-bottom: 15px;
                                background: #fff;
                                label{
                                    font-size: 1rem;
                                    color: $color-second-green;
                                }
                                .checkbox{
                                    display: inline-block;
                                }
                                input[type=text],
                                select{
                                    color: $color-main-grey;
                                    font-size: 0.875rem;
                                    padding: 10px;
                                    border-radius: 5px;
                                    border: 1px solid #eee;
                                    background-color: #f6f6f6;
                                    width: 100%;
                                    height: auto;
                                    outline: none;
                                }
                                ul{
                                    padding-left: 0;
                                    list-style-type: none;
                                }
                                .validation-advice{
                                    display: none!important;
                                }
                            }
                            .product-options{
                                dd{
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .block_selection{
        background-color: #fff;
        max-width: 1130px;
        margin: 0 auto;
        .breadcrumbs{
            display: block;
        }
        .apdc_home_selection{
            margin: 0;
        }
    }

    .category-products{
        background-color: #fff;
        max-width: 1130px;
        margin: 0 auto;
        .title-block{
            margin-bottom: 50px;
        }
        .apdc-products-grid{
            text-align: center;
            margin: 0 10px;
            .item{
                display: inline-block;
                vertical-align: top;
                position: relative;
                height: auto;
                width: 24%;
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 10px;
                &:hover{
                    background: #fff;
                    .display-hover{
                        visibility: visible;
                        height: auto;
                    }
                    form{
                        z-index: 1000;
                        overflow: auto;
                    }
                }
                .display-hover{
                    position: relative;
                    visibility: hidden;
                    height: 0;
                    margin: 0;
                    padding: 0 9px;
                    text-align: left;
                    .apdc-product-custom-options{
                        padding-bottom: 15px;
                        background: #fff;
                        label{
                            font-size: 1rem;
                            color: $color-second-green;
                        }
                        .checkbox{
                            display: inline-block;
                        }
                        input[type=text],
                        select{
                            color: $color-main-grey;
                            font-size: 0.875rem;
                            padding: 10px;
                            border-radius: 5px;
                            border: 1px solid #eee;
                            background-color: #f6f6f6;
                            width: 100%;
                            height: auto;
                            outline: none;
                        }
                        ul{
                            padding-left: 0;
                            list-style-type: none;
                        }
                        .validation-advice{
                            display: none!important;
                        }
                    }
                    .product-options{
                        dd{
                            margin-bottom: 10px;
                        }
                    }
                }
                form{
                    border-bottom: 1px solid #eee;
                    margin-top: 10px;
                    /*margin-bottom: 40px;*/
                    /*padding-bottom: 20px;*/
                    max-height: 580px;
                }
                .product-image{
                    img{
                        max-width: none;
                    }
                }
            }
        }
    }

    .block-subscribe{
        h2, form{
            display: none;
        }
    }

    .apdc-products-grid{
        .owl-stage-outer{
            overflow: hidden!important;
            padding: 20px 0;
        }
    }
}

.toolbar-bottom{
    position: fixed;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 0 10px;
    z-index:999;
    &:before,
    &:after {
        content: '';
        display: table;
    }
    .toolbar{
        margin: 0;
    }
    .pages{
        margin-top: -10px;
        & > strong{
            display: none;
        }
        ol{
            padding-left: 0;
        }
        li{
            &.current, a{
                font-size: 1rem;
                font-weight: 700;
                width: 40px;
                height: 40px;
                line-height: 29px;
                padding: 5px 0;
                background: #eee;
                color: $color-main-grey;
                border-radius: 30px;
            }
            &.current{
                display: inline-block;
                color: #fff;
                background: $color-main-green;
            }
            a{
                &.previous, &.next{
                    color: $color-main-green;
                    background: none;
                    font-size: 1.75rem;
                    border: none;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
    .pager{
        margin-bottom: 0;
    }
    .sort-by, .limiter{
        label{
            width: auto;
            font-size: 1rem;
            color: $color-second-green;
        }
    }
    .limiter{
        margin-top: -10px;
    }
    .amount{
        color: #333;
    }
    select{
        color: $color-main-grey;
        font-size: 0.875rem;
        padding: 10px 30px 10px 10px;
        border-radius: 5px;
        border: 1px solid #eee;
        background-color: #f6f6f6;
        width: auto;
        outline: none;
    }
}

.catalog-product-view {
  .main {
    background-color:#fff;
  }
}
#product_addtocart_form{
    overflow: auto;
    h1{
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: none;
        letter-spacing: normal;
        color: $color-second-green;
        text-align: left;
        margin-top:0;
    }
    h2{
        font-size: 1rem;
        font-weight: 700;
        text-transform: none;
        letter-spacing: normal;
        color: $color-second-green;
        text-align: left;

    }
    .delivery_days {
      margin-top:30px;
    }
    .button{
        font-size: 0.875rem;
    }
    #image-main{
        max-width: 100%;
    }
    .commercant-name{
        font-size: 1.125rem;
        font-weight: 700;
        color: $color-main-green;
    }
    .visible-xs .commercant-name {
      margin-bottom:20px;
    }
    .product-secondaryinfos{
        margin-top: 10px;
        span{
            font-size: 0.75rem;
            color: $color-main-grey;
        }
    }
    .long-description{
        margin: 20px 0;
        p{
            font-size: 1rem;
            color: $color-main-grey;
        }
    }
    .short-description{
        font-size: 1rem;
        color: $color-main-grey;
        margin-top: 30px;
    }
    .price-box{
        .regular-price{
            font-size: 2rem;
            font-weight: 300;
            color: $color-main-green;
        }
    }
    ul.price-box {
      margin:0;
      padding:0;
      list-style:none;
      li {
        display: inline-block;
        padding: 0 8px;
        font-style: italic;
        font-size: 14px;
        color: $color-dark-grey;
        &:last-child {
          padding-right:0;
        }
      }
    }
    .prix-kilo{
        font-size: 0.75rem;
        font-weight: 300;
        color: $color-main-green;
        font-style: italic;
    }
    .add-to-cart-wrapper{
        margin-top:20px;
        .apdc-cart-item-comment{
            margin-top: 50px;
            label{
                font-size: 1rem;
                font-weight: 700;
                text-transform: none;
                letter-spacing: normal;
                color: $color-second-green;
                text-align: left;
            }
            textarea{
                color: #555;
                width: 100%;
                height: 100px;
                box-shadow: none;
                border: 1px solid #EFEFEF;
                border-radius: 4px;
                background-color: #FAFAFA;
                padding: 6px 12px;
                resize: none;
            }
            .apdc-cart-item-comment-save{
                float: none!important;
            }
        }
    }
    .actions{
        position: relative;
        bottom: auto;
        text-align: right;
        margin-top: 0px;
        .button{
            &.notavailable{
                background: #999;
                cursor: default;
                &:before, &:after{
                    display: none;
                }
            }
        }
        .action-loading{
            margin-top: -10px;
        }
    }
    .product-availability{
        margin-top: 50px;
        .product-availability-title{
            font-size: 1rem;
            font-weight: 700;
            text-transform: none;
            letter-spacing: normal;
            color: $color-second-green;
            text-align: left;
        }
        .fa-check{
            color: $color-main-green;
        }
    }
    .block-related{
        margin-top: 50px;
        .related-products-list{
            list-style-type: none;
            position: relative;
            padding: 0 15px;
        }
        .product-details{
            margin-bottom: 10px;
        }
        .product{
            img{
                width: 100%;
                height: auto;
                margin-bottom: 15px;
            }
        }
        .product-name{
            margin-bottom: 0;
            a{
                font-size: 1rem;
                color: #333;
                font-weight: 700;
            }
        }
        .price-box{
            span{
                font-size: 0.75rem;
                color: $color-main-green;
            }
        }
        .add-related-products-to-cart {
          margin:0;
        }
    }
    .product-options{
        h3{
            display: none;
        }
        dt, dd{
            display: block;
            label{
                font-size: 1rem;
                font-weight: 700;
                text-transform: none;
                letter-spacing: normal;
                color: $color-second-green;
                text-align: left;
                margin: 0 10px 0 0;
            }
            select{
                color: $color-main-grey;
                font-size: 0.875rem;
                border-radius: 5px;
                border: 1px solid #eee;
                background-color: #f6f6f6;
                width: auto;
                outline: none;
            }
            ul{
                list-style-type: none;
                padding-left: 0;
                li{
                    margin-bottom: 5px;
                }
            }
        }
        dt{
            margin-bottom: 5px;
        }
        dd{
            margin-bottom: 20px;
        }
    }
    .product-options-bottom{
        .price-box{
            display: none;
        }
    }
  label.required em {
    color:$color-main-green;
  }
}
