html, body{
    font-size: 16px;
}
body{
    background-color: #f6f6f6;
    font-family: $font-text;
}

h1, h2, h3, h4, h5{
    font-family: $font-title;
    font-weight: normal;
    text-align: center;
    font-smoothing: antialiased;
    text-transform:uppercase;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}
h1, h2{
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 1px;
}
h2{
    margin: 0px auto 10px;
}

p{
    font-family: $font-text;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: $color-black;
    opacity: $opacity-main-black-oncolor;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

a{
    color:$color-main-green;

    &:hover{
        color:$color-second-green;
        text-decoration:none;
    }
}

li{
    display:block;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(0,0,0,0.54);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    rgba(0,0,0,0.54);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    rgba(0,0,0,0.54);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    rgba(0,0,0,0.54);
}

.button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px auto;
    color: #fff;
    /*border-radius: 3px;*/
    border: none;
    font-size: 1.125rem;
    font-weight: 700;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 3px;
        -webkit-transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        -ms-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in;
    }
    &:after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 3px;
        -webkit-transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        -ms-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in;
    }
    &:not(.btn-cart):hover{
        text-decoration: none;
            &:before, &:after{
            width: 100%;
        }
    }
    &:active, &:focus, &:visited{
        color: #fff;
        text-decoration: none;
    }
    &.button-green{
        background-color: $color-main-green;
        &:hover{
            color: #fff;
            &:before, &:after{
                background-color: $color-second-green;
            }
        }
    }
    &.button-grey{
        background-color: #ccc;
        &:hover{
            color: #fff;
            background-color: $color-main-green;
            &:before, &:after{
                background-color: $color-second-green;
            }
        }
    }
    &.button-pink{
        background-color: $color-main-pink;
    }
    &.button-orange{
        color:#fff;
        background-color: $color-dark-orange;
        &:hover{
            &:before, &:after{
                background-color: $color-second-dark-orange;;
            }
        }
    }
    &.button-white{
        color: $color-main-green;
        background-color: #fff;
        &:hover{
            &:before, &:after{
                background-color: $color-second-green;;
            }
        }
    }

    &.button-social{
        border-width: 1px;
        border-style: solid;
        font-size: 1rem;
        text-align: center;
        padding: 10px 20px;
        &.button-fb{
            color: #5179bd;
            border-color: #5179bd;
            &:hover{
                color: #fff;
                background-color:#5179bd;
            }
        }
        &.button-google{
            color: #f64743;
            border-color: #f64743;
            &:hover{
                color: #fff;
                background-color:#f64743;
            }
        }
    }
}

input[type=checkbox]{
    position:absolute;
    z-index:-1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}
input[type=checkbox] + label{
    font-size: 0.875rem;
    &:before {
        content:'';
        font-family:FontAwesome;
        font-size:16px;
        display:inline-block;
        margin-right:5px;
        width:25px;
        height:25px;
        line-height:22px;
        text-align:center;
        color:$color-main-green;
        display:inline-block;
        vertical-align:middle;
        cursor:pointer;
        /*border-radius:7px;*/
        border:1px solid #ccc;
        background-color:#fafafa;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
input[type=checkbox]:checked + label:before {
    content:'\f00c';
    font-family:FontAwesome;
}

.tooltip{
    &.bottom > .tooltip-arrow{
        border-bottom: 8px solid #F6F6F6;
        border-width: 0 8px 8px;
        top: -3px;
        margin-left: -8px;
    }
    .tooltip-inner{
        background-color: #F6F6F6;
        padding: 10px;
        text-align: left;
        dt{
            font-size: 0.75rem;
            font-weight: 700;
            color: $color-second-green;
        }
        dd{
            font-size: 0.75rem;
            font-weight: normal;
            color: $color-main-grey;
        }
    }
}

.limiter{
    select{
        color: $color-main-grey;
        font-size: 0.875rem;
        padding: 10px;
        /*border-radius: 5px;*/
        border: 1px solid #eee;
        background-color: #f6f6f6;
        width: auto;
        height: auto;
        outline: none;
    }
}

.form-control{
    color: $color-main-grey;
}
.action-success {
  position:relative;
  &:before {
    content:'\f00c';
    font-family:FontAwesome;
    position:absolute;
    left:2px;
    top:50%;
    transform:translate(0, -50%);
    color:$color-main-green;
    background-color:#ffffff;
    width:24px;
    height:24px;
    line-height:24px;
    font-size:12px;
    border-radius:50%;
    border:1px solid #ccc;
  }
}

.separator{
    color: rgba(0, 0, 0, .62);
    text-align: center;
    &:before, &:after{
        content: '';
        display: inline-block;
        width: 15%;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, .62);
        line-height: inherit;
        vertical-align: middle;
        margin: 0 10px;
    }
}
