#html-body{
    header{
        position: relative;
                margin-bottom: 200px;

    }
    #background_video_container{
        position: absolute;
        z-index: -1;
                height: 600px;

        width: 100%;
        overflow: hidden;
        img.banner, video{
            display: block;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
    }
    .intro-section{
        text-align: center;
                margin-top: 160px;

        h1{
            color: #fff;
        }
    }
}

.apdc-notation-index-index{
    height:100%;
    margin: 0px;
    padding: 0px;
    header{
        height:100%;
        margin-bottom:0px !important;
    }
    #background_video_container{
        height: 100% !important;
    }
    .full{
        height: 100%;
    }
    .intro-section{
        background:white;
        margin-top: 100px !important;
        padding:0;
        padding-bottom:40px;
        .border-container{
            width: 100%;
            height: 56px;
            background: url(../images/border-pattern-height.png) repeat-x;
        }
        #logo{
            padding: 40px 40px;
        }
        .icon{
            margin-bottom:10px;
        }
    }
}

header{
    .top-nav{
        float: right;
        list-style-type: none;
        li{
            display: inline-block;
            margin: 0 10px;
            a{
                position: relative;
                color: #fff;
                font-weight: 700;
                font-size: 1.125rem;
                text-decoration: none;
                -webkit-transition: all 100ms ease-in;
                -moz-transition: all 100ms ease-in;
                -ms-transition: all 100ms ease-in;
                -o-transition: all 100ms ease-in;
                transition: all 100ms ease-in;
                &:hover{
                    text-decoration: none;
                    color: $color-second-green;
                    &:after{
                        background: $color-second-green;
                        bottom: -5px;
                    }
                }
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    background: transparent;
                    -webkit-transition: all 100ms ease-in;
                    -moz-transition: all 100ms ease-in;
                    -ms-transition: all 100ms ease-in;
                    -o-transition: all 100ms ease-in;
                    transition: all 100ms ease-in;
                }
                &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}

.logo{
    float: left;
    text-align: center;
    img{
        max-width: 100px;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }
}

#notice-cookie-block{
    display: none;
}
.page-header-container{
    background-color: #fff;
    padding: 10px 0;
    .skip-links{
        .label{
            color: #000;
            font-weight: 400;
            font-size: 0.875rem;
        }
        .skip-container{
            margin-top: 12px;
            display: inline-block;
            vertical-align: -10px;
            margin: 0 9px;
        }
        .skip-container-header-search{
            margin-top: 8px;
            input[type=text]{
                color: #ddd;
                font-size: 0.875rem;
                padding: 5px 22px 5px 10px;
                border-radius: 5px;
                border: 1px solid #eee;
                background-color: #f6f6f6;
                width: 90%;
            }
            i{
                color: $color-main-green;
                margin-left: -25px;
            }
        }
    }
}
.header-account-container{
    position: relative;
    a{
        span{
            i{
                color: #A5A59C;
            }
        }
        i{
            color: $color-main-green;
        }
    }
    .block-login{
        display: none;
        position: absolute;
        top: 40px;
        background: #fff;
        padding: 20px;
        z-index: 10;
        border-radius: 5px;
        text-align: left;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        &.open{
            display: block;
        }
        form{
            .input-wrap{
                position: relative;
                label{
                    position: absolute;
                    top: 9px;
                    left: 5px;
                    font-size: 0.875rem;
                    font-weight: normal;
                    color: #ccc;
                    z-index: 10;
                }
                input[type=text],
                input[type=password]{
                    padding: 7px 5px;
                    color: #ddd;
                    border: 1px solid #eee;
                    border-radius: 5px;
                    background-color: #f6f6f6;
                    margin-bottom: 10px;
                }
            }
            .button{
                border: none;
                font-size: 0.875rem;
                color: #fff;
                font-weight: normal;
                width: 100%;
                margin-bottom: 0;
            }
        }
    }
}

#supermenu{
    #storename{
        a{
            font-style: italic;
        }
    }
}

.header-minicart{
    .count{
        background: #F25150;
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 50%;
        color: #fff;
        font-size: 8px;
        text-align: center;
        position: relative;
        top: -10px;
        left: -10px;
        line-height: 13px;
    }
}
