.ie{
    footer{
        margin-bottom: 85px;
    }
}

.edge{
    .toolbar-bottom{
        position: absolute;
        margin-bottom: 365px;
    }
    .block-subscribe{
        margin-top: 130px;
    }
}