/* -------------------------------------------- *
 * Messages
 */

.messages {
    margin-bottom: $gap;
    list-style: none;
    padding: 0;
}

.messages ul{
    list-style: none;
    padding: 0;
}

.messages li li {
    position: relative;
    margin-bottom: 5px;
    padding: 7px 10px 7px 20px;
    background: $c-module-background;
    font-size: 0.875rem;
}

.messages li li:before {
    top: 50%;
    left: 0;
    margin-top: -6px;
}

.messages .error-msg li {
    color: $color-black;
    border-left: 5px solid $c-danger;
    background-color: $c-danger-background;
}

.messages .error-msg li:before {
    @include triangle(right, 6px, $c-danger);
}

.messages .notice-msg li {
    color: $color-black;
    border-left: 5px solid $c-warn;
    background-color: $c-warn-background;
}

.messages .notice-msg li:before {
    @include triangle(right, 6px, $c-warn);
}

.messages .success-msg li {
    color: $color-black;
    border-left: 5px solid $c-success;
    background-color: $c-success-background;
}

.messages .success-msg li:before {
    @include triangle(right, 6px, $c-success);
}

/* -------------------------------------------- *
 * Validation
 */

p.required,
.validation-advice {
    margin: 5px 0 0;
    color: $c-danger;
    font-size: 0.875rem;
}