/* LOGIN FORM */

#login-form-popup-container{
    display: block;
    position: absolute;
    background: white;
    opacity: 1;
    filter: alpha(opacity=100);
    position: fixed;
    top: 50%;
    z-index: 10000;
    left: 50%;
    min-height: 100px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid lightgrey;
    width: 500px;
    padding: 20px;
    height:auto;
    overflow:none;
}

#login-form-popup-close{
    display:none;
}