/* LOGIN FORM */

.apdc-popup-container {
    display: block;
    position: absolute;
    background: white;
    opacity: 1;
    filter: alpha(opacity=100);
    /*top: 50%;*/
    z-index: 10000;
    /*left: 50%;*/
    /*border-radius: 10px;*/
    border: 1px solid lightgrey;
    min-height: 100px;
    height:200px;
    max-height:95%;
    padding: 20px;
    overflow:hidden;
    transition:height 0.3s ease;
    .back-link {
      text-align:left;
    }
    h1 {
      margin-top:0px;
    }
    .form-group:last-child {
      margin-bottom:0px;
    }
}
#login-form-popup-container,#newsletter-form-popup-container,#neighborhood-popup-container{
    width: 500px;
    text-align:center;
}
#delivery-popup-container {
    max-width:670px;
    width:100%;
}
#newsletter-form-popup-container {
  overflow:initial;
}

#neighborhood-popup-container{
    overflow: auto;
}


#login-form-popup[data-current-view="apdc_register_view"] {
  #login-form-popup-container {
    height:inherit;
  }
  .apdc-popup-content {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: auto;
  }

    .account-create {
      padding: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      .form-list {
        padding:0 10px 0 0;
        select {
          width:100%;
        }
      }
      button[type=submit] {
        margin-top:0;
      }
    }
}

#login-form-popup-close{
    display:none;
}
