section{
    & > .container{
        background-color: #fff;
    }
    &#quartiers{
        & > .container{
            border-top: 18px dotted $color-second-green;
            background: url(../images/bottom-pictos.png), #fff;
            background-repeat: no-repeat;
            background-position: left bottom;
            background-size: 100%;
            padding-bottom: 90px;
            h2{
                color: $color-main-green;
                &.soon{
                    color: $color-main-grey;
                }
            }
        }
        .bouton-quartier{
            position: relative;
            text-align: center;
            margin: 20px auto;
            &:hover{
                h3{
                    color: $color-main-pink;
                }
                a{
                    text-decoration: none;
                }
                span.button{
                    opacity: 1;
                }
                img{
                    filter: brightness(30%);
                }
            }
            h3{
                font-family: $font-text;
                font-weight: 700;
                font-size: 1.125rem;
                color: $color-black;
            }
            span.button{
                opacity: 0;
                position: absolute;
                top: 80px;
                left: 0;
                right: 0;
                margin: auto;
                width: 145px;
                -webkit-transition: all 200ms ease-in;
                -moz-transition: all 200ms ease-in;
                -ms-transition: all 200ms ease-in;
                -o-transition: all 200ms ease-in;
                transition: all 200ms ease-in;
            }
            img{
                -webkit-transition: all 200ms ease-in;
                -moz-transition: all 200ms ease-in;
                -ms-transition: all 200ms ease-in;
                -o-transition: all 200ms ease-in;
                transition: all 200ms ease-in;
            }
        }
        .button{
            margin-top: 0;
        }
    }
    &#concept{
        background-color: $color-main-green;
        padding: 0 60px 30px;
        h2{
            color: #fff;
        }
        .section-header{
            margin-bottom: 65px;
        }
        .section-description{
            color: #fff;
        }
    }
    &#nos-tarifs{
        background-color: #f6f6f6;
        padding: 0 60px 30px;
        h2{
            color: $color-main-pink;
        }
        .section-header{
            margin-bottom: 20px;
        }
        .item{
            p{
                color: #000;
            }
        }
    }
    &.packages{
        h2{
            font-size: 2.25rem;
        }
        .section-description{
            font-size: 0.875rem;
        }
        ul{
            list-style-type: none;
            text-align: center;
            padding: 0;
            li{
                display: inline-block;
                max-width: 30%;
                margin: 0 5%;
                font-size: 0.75rem;
                &.price-9{
                    color: #fdb172;
                }
                &.price-6{
                    color: #f7b00c;
                }
                &.price-3{
                    color: #f77818;
                }
                span{
                    font-size: 2.125rem;
                }
            }
        }
        .item{
            margin-bottom: 20px;
            img{
                display: block;
                margin: 10px auto 0;
                height: auto;
            }
            p{
                color: #fff;
                font-size: 1.125rem;
            }
        }
    }
    &#missions{
        h2{
            color: $color-dark-blue;
            margin: 50px auto;
        }
        .item-mission{
            height: 425px;
            text-align: center;
            padding: 0 60px;
            display: flex;
            & > div{
                margin: auto;
            }
            h3{
                font-family: $font-text;
                font-weight: 700;
                font-size: 1.125rem;
                color: #fff;
            }
            p{
                color: #fff;
                font-size: 0.875rem;
            }
        }
        .mission-1{
            background: url(../images/mission-1.jpg) no-repeat;
            background-size: cover;
        }
        .mission-2{
            background: url(../images/mission-2.jpg) no-repeat;
            background-size: cover;
        }
        .mission-3{
            background: url(../images/mission-3.jpg) no-repeat;
            background-size: cover;
        }
    }
    &#cards{
        padding-top: 100px;
        padding-bottom: 100px;
        background: url(../images/bg-cards.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        h3{
            font-family: $font-text;
            font-weight: 700;
            font-size: 1.125rem;
            text-align: left;
        }
        .clients{
            background-color: #fff;
            border-top: 5px solid $color-main-pink;
            padding: 0;
            h3{
                color: $color-main-pink;
                padding: 0 40px;
                margin-top: 40px;
            }
            p{
                padding: 0 40px;
            }
            img{
                display: block;
                width: 100%;
                margin-top: 30px;
            }
        }
        .partners{
            background-color: #fff;
            border-top: 5px solid $color-blue;
            padding: 0;
            h3{
                color: $color-blue;
                padding: 0 40px;
                margin-top: 40px;
            }
            p{
                padding: 0 40px;
            }
            img{
                display: block;
                width: 100%;
                margin-top: 30px;
            }
        }
    }
    &#advantages{
        border-top: 1px solid #eee;
        padding: 40px 0;
        .container{
            background: none;
        }
        .item{
            text-align: center;
            width: 20%;
            p{
                font-size: 0.875rem;
                font-weight: 700;
                margin-top: 20px;
            }
        }
    }
    
    .section-description{
        text-align: center;
        font-size: 1.125rem;
        color: $color-main-grey;
    }
}