/*A supprimer ?
@media screen and (max-width: 1324px){
    .catalog-category-view{
        .block-promos{
            .owl-nav{
                .owl-next{
                    //margin-right: -10px;
                }
                .owl-prev{
                    //margin-left: -10px;
                }
            }
        }
    }
}*/

@media screen and (max-width: 1316px){
    .page-header-container{
      .skip-links{
        padding:0;
        .skip-container-header-search{
          text-align: center;
          position: relative;
          z-index: 1;
          .search-button{
            margin: 0 0 0 -45px;
          }
        }
        .label{
          display: none;
        }
        i{
        font-size: 24px;
        margin: 0 10px;
        }
        .header-delivery-container{
          margin-right: 0;
        }
        .skip-help{
          margin-right: 0px;
        }
      }
    }
    .header-minicart{
        .skip-link{
            i.cart-icon {
                background-size: 24px 22px;
            }
        }
    }
    .header-minicart a.skip-link .count, .header-neighborhood-container > a .count {
      left: 28px;
      top: -12px;
    }
    .block-progress{
        dl > div{
            margin: 10px auto;
            &:last-of-type{
                margin-bottom: 0;
            }
            dt:before{
                display: none;
            }
        }
    }
    .catalog-category-view .commercant-collapse .collapse-wrapper .desc-commercant{
        max-height: 350px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1316px){
    .header-minicart{
        margin-right:30px;
    }
}

@media screen and (min-width: 1200px){
    .container{
        width: 1130px;
    }
    #supermenu{
        ul.level0 {
            z-index: 97;
            padding-top: 0px;
            border-radius: 0;
            border: 1px solid #dcdcdc;
            box-shadow: 2px 2px 15px -4px rgba(0, 0, 0, 0.33);
            border-width: 1px 0px 0px 0px;
            width: 100%;
            padding-bottom: 0;
        }
        div.level0{
            z-index: 97;
            padding-top: 0px;
            border: 0;
            width: 100%;
            padding-bottom: 0;
            top: 110px;
            &>ul:not(.menu-template-content) {
                width: 100%;
                list-style-type: none;
                border-right: 1px solid #eee;
                padding: 0 10px;
                display: table;
                &>li{
                    margin-bottom: 10px;
                    display: table-cell;
                    text-align: center;
                    padding-bottom: 10px;
                    position: relative;
                    border-color: inherit;
                }
            }
        }
        li{
            &.level0 {
                &.active > a:after {
                    top: 98%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255, 255, 255, 0);
                    border-top-color: inherit;
                    border-width: 15px;
                    margin-left: -15px;
                }
                &.open > a:after {
                    top: 98%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255, 255, 255, 0);
                    border-top-color: inherit;
                    border-width: 15px;
                    margin-left: -15px;
                    z-index:98;
                }
            }
            &.level1.open:after {
                position: absolute;
                top: 98%;
                left: 50%;
                width: 0;
                height: 0;
                margin-left: -15px;
                content: ' ';
                pointer-events: none;
                border: solid transparent;
                border-width: 15px;
                border-color: rgba(255, 255, 255, 0);
                border-top-color: inherit;
            }
            a.column-commercant {
                display: block;
                position: relative;
                margin: 0;
                color: inherit;
            }
            &.open>.column-commercant .deploy-menu-button {
                color:black;
                i {
                    margin-left: -30px;
                    color: rgba(0,0,0,0.84);
                    font-size: 2rem;
                }
            }
        }
        &> .container-fluid {
            padding:0;
        }
        .close-menu {
            display:block;
            position:absolute;
            top: 2px;
            right: 5px;
            font-size: 30px;
            opacity:0.6;
            color:lightgrey;
            z-index:99;
            cursor: pointer;
            transition:opacity 0.3s ease, color 0.3s ease;
            &:hover {
                opacity:1;
                color:#333333;
            }
        }
        .menu-template-content {
            display: block;
            width: 100%;
            padding: 10px 0 0 0;
        }
        .deploy-menu-button {
            display:none;
        }
        .column-commercant .deploy-menu-button {
            display: none;
            color:#ccc;
        }
        .template-line {
            display:block;
            width:100%;
            ul {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                padding: 0 10px;
                justify-content: center;
                li {
                    display: inline-block;
                    vertical-align:middle;
                    text-align:center;
                    padding:5px;
                    background-color:whitesmoke;
                    margin: 0 5px 10px 0;
                }
            }
            &.common-links ul {
                display: table;
                li {
                    display: table-cell;
                }
            }
            &.separator {
                display:block;
                width: 90%;
                margin: 5px auto 15px auto;
                border:1px solid $color-main-green;
                height: 1px;
                overflow: hidden;
            }
        }
    }
    .menu-open .main-container,
    .menu-open .footer-container,
    .menu-open .copyright-cards-container,
    .cms-index-index.menu-open .page-title {
        transform: translateY(300px);
    }
    .dropdown-submenu{
        &>.dropdown-menu-template {
            top: 0;
            bottom:0;
            right: 0px;
            border: none;
            border-radius:0;
            box-shadow:none;
            position: absolute;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            font-size: 14px;
            text-align: left;
            list-style: none;
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            overflow-x: hidden;
            overflow-y:auto;
            max-height: initial;
            margin: 20px 0 5px 0px;
            width: calc(100% - 270px);
            height: 360px;
        }
        &.open>.dropdown-menu-template {
            display:none;
        }
    }
    .main-cats{
        margin-top: -10px;
        padding-left: 0;
    }
    .hipay_redirect_infobox_content .page-title {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1200px){
    .main-container {
      margin-top:60px;
    }
    .page-title{
        margin-top:48px;
    }
    .searchresults_title{
        margin-top:78px;
    }
    .commercants-block{
        .products-grid{
            .commercant-item{
                .commercant-info-img,
                .commercant-img-info{
                    float: none;
                    width: auto;
                }
            }
        }
    }
    .page-header-container {
      padding-right:75px;
      .skip-links{
        .skip-container{
          margin-left: 0;
        }
        .label{
          font-size: 0.8125rem;
        }
      }
    }
    .checkout-onepage-index {
      .page-header-container {
        padding-right:15px;
      }
    }
    .navbar-header{
        float: none;
        position: fixed;
        top: 12px;
        right: 0;
        z-index: 20;
    }
    .navbar-nav{
        float: none;
        .open .dropdown-menu{
            float: none;
            width: auto;
            margin-top: 0;
            border: 0;
            background-color: transparent;
        }
    }
    .header-minicart{
        #header-cart{
            .block-subtitle {
                .close {
                    margin-right:50px;
                }
            }
        }
    }
    #topmenu {
      position:fixed;
    }
    #checkout-shipping-method-load{
        dl{
            & > div{
                float: none;
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
    #checkout-review-table{
        th{
            min-width: 0;
            &.product-name{
                min-width: 0;
            }
        }
        td{
            min-width: 0;
            &.product-name,
            &.comments{
                min-width: 0;
            }
            &.price{
                padding: 0 10px;
            }
        }
        .crop{
            display: none;
        }
    }
    a.level2:link,
    a.level2:visited {
        margin-bottom: 0px;
    }
    
    #header-account li a {
        font-family: "Open Sans";
        background-color: #EDEDED;
        text-transform: uppercase;
        color: #333;
        padding: 10px 0px 10px 10px;
        display: block;
        line-height: inherit;
    }

    .no-touch #header-account a:hover,
    .no-touch .nav-primary a:hover {
        background-color: #FFF;
        text-decoration: none;
        color: #333;
    }

    #supermenu{
        min-height: 0;
        padding-top:0;
        .navbar-toggle{
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid rgb(233, 233, 233);
            position: fixed;
            top: 60px;
            left: 0;
            right: 0;
            z-index: 100;
            background: #fff;
            &.collapse {
                display: none!important;
                height: 0!important;
                overflow: hidden!important;
                &.in {
                    display: block!important;
                    overflow: auto!important;
                    height: calc(100% - 60px)!important;
                }
            }
            .nav{
                width:100%;
                flex-direction: column;
                align-items:center;
                margin: 0 auto;
                & > li{
                    display: block;
                    margin-right: 0;
                    &.level0 >a{
                        height:50px;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                    }
                }
                li.level1 > a{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom:10px;
                }
            }
        }
        .template-column{
          width: 25%;
        }
        a.level2:link{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            margin: 0px 5px;
            padding: 10px 5px;
            background-color: whitesmoke;
        }
        ul.level2>li{
          margin-left: 0;
        }
        #storename{
            margin-right: 0px;
            margin-bottom:5px;
            margin-top:5px;
            height:auto;
            width: 150px;
            a{
                padding-bottom:9px;
            }
        }
        li{
            &.level0 {
                height:auto;
            }
            &>a .deploy-menu-button {
                width: 40px;
            }
            &>ul{
                display: block;
                max-height: 0;
                transition: max-height 0s ease, opacity 0.5s ease 0s;
                opacity: 0;
                overflow: hidden;
            }
            &.open> ul , &>ul .template-line ul{
                max-height:800px;
                opacity:1;
                transition-delay:0s;
                width: 100%;
                padding:0 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        div.level0,
        ul.level0 {
            position:static;
            min-height: initial;
            box-shadow: none;
            border-radius: 0;
            padding: 0;
        }
        .dropdown-menu-template .block-static-menu,
        {
            display:none;
        }
        div.level0>ul:not(.menu-template-content){
            background-color:white!important;
            border-color:white!important;
        }
        ul.level1{
            &.template-line ul>li {
                display: block;
                border-bottom:1px solid lightgrey;
                padding: 0 0px 0 15px;
            }
            .template-line {
                display:block;
                width:100%
            }
            li.separator,
            li.common-links {
                display:none;
            }
            li>a {
                background-color:#ffffff;
            }
            ul.level2 {
                margin-bottom: 0px;
                &>li {
                    height:30px;
                }
                li:not(.template-line) > ul {
                    display:block;
                    max-height:0;
                    transition:max-height 0.5s ease, opacity 0s ease 0.5s;
                    opacity:0;
                    overflow:hidden;
                }
            }
        }      
    }

    .dropdown-submenu{
        box-shadow: 2px 2px 15px -4px grey;
        &>a:after {
          content:none;
        }
        &>.dropdown-menu-template {
            position:static;
        }
    }
    .catalog-category-view .commercant-collapse{
        padding: 20px 20px 0;
        .collapse-wrapper .desc-commercant{
            max-height: 250px;
        }
    }
    .hipay_redirect_infobox_content .page-title {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1130px){
    #opc-shipping_method{
        #co-ddate-form{
            .delivery{
                .deli_date{
                    width: 85%;
                    overflow: auto;
                }
                .deli_time{
                    width: 15%;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1020px){
    .container{
        width: 945px;
    }
}

@media screen and (min-width: 992px){
    section#carroussel-commercants{
        #carrousel-commercant-home .owl-buttons{
            display:none;
        }
    }
}

@media screen and (max-width: 992px){
    .container{
        width: auto;
    }
    #product-quick-view_popup-container{
        width: 100%;
    }
    .block-progress{
        dl{
            & > div{
                dt{
                    strong{
                        display: none;
                    }
                    span{
                        display: block;
                    }
                }
            }
        }
    }
    #supermenu{
        #storename a{
            margin-left: 0;
        }
    }
    #co-billing-form, #co-shipping-method-form, #checkout-step-payment, #checkout-step-checkcart{
        padding: 40px 20px;
    }
    #discount-coupon-form{
        .button{
            padding: 10px;
        }
    }

    section{
        &.packages{
            .item{
                p{
                    text-align: center;
                }
            }
        }
        &#prices, &#concept{
            min-height:800px;
        }
        &#cards{
            .clients, .partners{
                padding:0 20px !important;
            }
            .clients{
                margin-bottom: 30px;
            }
        }
        &#advantages{
            .item{
                margin-bottom: 20px;
                height: 190px;
                img{
                    max-width: none;
                }
            }
        }
    }

    footer{
        .button-newsletter{
            text-align: center;
            margin-bottom: 20px;
        }
        .social-icons{
            text-align: center;
        }
    }

    .item-mission > div {
        margin-top: auto !important;
    }

    .catalog-category-view{
        .commercant-collapse{
            .commercant-info{
                .delivery-days{
                    text-align: center;
                }
            }
        }
    }
    .apdc-popup-container{
        border-radius: 0;
        #co-ddate-form{
            .delivery{
                .deli_date_time{
                    min-width: 0;
                }
                .deli_time{
                    width: 17%;
                }
                .deli_date{
                    width: auto;
                }
            }
        }
    }
    #opc-shipping_method{
        #co-ddate-form{
            .delivery{
                overflow-x: visible;
                .deli_date{
                    width: calc(100% - 120px);
                    overflow: auto;
                    #slideshow-area{
                        width: 800px;
                    }
                }
                .deli_time{
                    width: 120px;
                }
            }
        }
    }

    .catalog-category-view{
        .category_view_content {
            .category_left_menu {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 15px;
                max-height:40px;
                transition:max-height 0.3s ease;
                overflow:hidden;
                font-size: 1.05rem;
                h4 {
                  position:relative;
                  margin-top:0;
                  .toggle-mobile-menu {
                    cursor:pointer;
                    position:absolute;
                    right:0;
                    top:50%;
                    transform:translate(0, -50%);
                    display:inline-block;
                    width:40px;
                    text-align:right;
                    i.fa {
                      height:25px;
                      width:25px;
                      line-height:25px;
                      text-align:center;
                      border-radius:50%;
                      background-color:white;
                      border:1px solid $color-main-green;
                      color:$color-main-green;
                      font-size:24px;
                      transform:rotateZ(0);
                      transition:transform 0.2s ease;
                    }
                  }
                }
                &.open {
                  h4 {
                    .toggle-mobile-menu {
                      i.fa {
                          transform:rotateZ(180deg);
                      }
                    }
                  }
                }
                ul {
                  li {
                    max-height:23px;
                  }
                  &.sub-cat-list{
                    font-size: 1rem;
                    line-height: 1.5rem;
                  }
                }
                &.labels_product_legend{
                    display:none;
                }

            }
        }
        .commercant-collapse .commercant-info{
            .commercant-name{
                font-size:14px;
                h1{
                    font-size:30px;
                }
            }
            .photo-commercant {
                width: 55px;
                height: 55px;
            }
        }
    }

}

@media screen and (max-width: 840px){
    .catalog-category-view{
        .category-products{
            .apdc-products-grid{
                .item{
                    width: 33.333333%;
                }
            }
        }
    }
}

@media (min-width: 768px) {
      .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    .button.button-social.button-fb{
        float:right;
    }
    .search-autocomplete {
        left: 0px !important;
    }
}

@media screen and (max-width: 767px){
    .container{
        width: auto;
    }
    #product-quick-view_popup-container{
        width: 100%;
    }
    #html-body{
        header{
            margin-bottom: 100px;
        }
        .intro-section{
            margin-top: 120px;
            h1.subtitle{
                display:none;
            }
        }
        #background_video_container{
            background: url(../images/header/7.jpg) no-repeat;
            background-size: cover;
            background-position: center;
            height: 600px;
            video{
                display: none;
            }
        }
    }
    #supermenu .template-column {
        width: 33.33%;
    }
    .apdc-notation-index-index{
        .intro-section{
            margin-top: 80px !important;
            #logo {
                width: 60%;
            }
        }
        footer{
            position:relative;
        }
    }

    section{
        &#prices, &#concept{
            min-height:0;
        }
    }
    .navbar-header{
        right: 15px;
    }
    .block-lastorder{
        text-align: center;
        h3, p{
            text-align: center;
        }
    }
    #checkout-shipping-method-load{
        dl{
            margin-bottom: 15px;
        }
    }
    #checkout-step-payment{
        .input-box{
            .v-fix{
                width: 60%;
                vertical-align: top;
                &.adyen_payment_input_fields{
                    width: 38%;
                }
            }
        }
        #discount-coupon-form{
            h3{
                margin-left: 0;
            }
        }
    }
    #discount-coupon-form{
        input{
            float: left;
            margin-left: 15px;
            & + div{
                float: left;
            }
        }
    }
    .checkout-agreements .agree{
        margin-top: 30px!important;
    }

    .catalog-category-view{
        .commercant-collapse{
            .collapse-wrapper{
                .commercant-opening{
                    margin-bottom: 20px;
                    h2{
                        text-align: center;
                    }
                }
                .desc-commercant{
                    margin-top: 20px;
                }
            }
        }
    }
    .account-create button[type=submit]{
        margin-top: 20px;
    }
    .header-minicart{
        #header-cart{
            width: 100%;
            right: -100% !important;
            &.skip-active{
                transform: translateX(-100%);
            }
            .mini-commercant-name{
                .count{
                    margin-right: 25px;
                }
            }
            .mini-cart-bottom{
                .subtotal .label{
                    display: block;
                }
            }
            .commercant-product-list {
                .item-cell {
                  width:50%;
                    &.item-qty {
                        width: 20%;
                    }
                    &.item-price {
                        width: 20%;
                    }
                    &.item-actions {
                        width: 9%;
                    }
                }
            }
        }
    }
    .page-header-container{
      .skip-container-header-search{
        position:absolute!important;
        top:100%;
        left:0;
        right:0;
        margin-top:0;
        form{
          transform:translateX(-130%);
          opacity:0;
          transition:transform ease 0.3s, opacity ease 0.3s, visibility ease 0s 0.3s;
          margin:0!important;
          visibility:hidden;
          &.show-input {
            width: 100vw;
            background: white;
            padding: 5px 0 10px 0;
            transition-delay:0s;
            transform:translateX(3%);
            opacity:1;
            visibility:visible;
          }
        }
      }
    }
    .catalog-category-view .commercant-collapse .collapse-wrapper .commercant-img img{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .button{
        margin: 10px auto;
    }
    .button.button-social{
        display: block;
    }
    .search-autocomplete {
        left: 25px !important;
    }
}

@media screen and (max-width: 740px){
    .block-promos .apdc-products-grid .owl-item > .product-info{
        height: 50%;
    }
    #checkout-review-table{
        th, td{
            &.availibility,
            &.comments{
                display: none;
            }
        }
    }
    .catalog-category-view{
        .commercant-collapse{
            .commercant-info{
                .commercant-name,
                .photo-commercant{
                    display: block;
                    margin: 0 auto 10px;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 660px){
    .catalog-category-view{
        .category-products{
            .apdc-products-grid{
                .item{
                    width: 50%;
                }
            }
        }
    }
    .hipay_redirect_infobox_content .page-title h1{
        width:90%;
    }
}

@media screen and (max-width: 620px){
    section{
        &#prices, &#concept{
            min-height:0;
        }
    }

    footer{
        .copyright{
            margin-bottom: 20px;
        }
    }

    #login-form-popup-container,
    #neighborhood-popup-container,
    #delivery-popup-container{
        width:90% !important;
    }
    .block-blog{
        padding: 15px;
        article{
            .crop-img{
                margin-bottom: 15px;
            }
            h3, p{
                text-align: center;
            }
        }
    }
    .block-subscribe form{
        text-align: center;
        input[type=text]{
            float: none;
            margin-bottom: 10px;
        }
    }
    #checkout-step-payment{
        .adyen_payment_input_fields{
            padding: 0;
        }
        .input-box{
            .v-fix{
                display: block;
                width: 100%!important;
                padding: 0;
            }
        }
    }
    #checkoutSteps{
        .fieldset{
            padding: 15px;
        }
    }
    #login-form-checkout{
        button[type=submit] + a{
            display: block;
            margin-left: 0!important;
        }
    }
    .toolbar-bottom{
        .pager{
            float: none;
            width: 100%;
            text-align: center;
        }
        .sorter{
            display: none;
        }
        select{
            padding: 5px 30px 5px 5px;
            max-width: 130px;
        }
        .sort-by{
            label{
                font-size: 0.875rem;
            }
        }
        .pages{
            li{
                &.current, a{
                    line-height: 19px;
                    font-size: 0.875rem;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    .my-account{
        padding: 40px 20px;
        .block-account{
            .menu-account{
                li:first-child{
                    a{
                        font-size: 1rem;
                    }
                }
                li{
                    a{
                        padding: 15px 30px 15px 20px;
                        i{
                            margin-right: -15px;
                        }
                    }
                }
            }
        }
        .box-account{
            overflow: auto;
            table{
                min-width: 535px;
                td{
                    .button{
                        width: 140px;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .page-header-container {
      .skip-links{
        .link-header-right{
          i{
            font-size: 20px;
            margin: 4px 8px 0 8px;
          }
        }
      }
    }
    .header-minicart .skip-link i.cart-icon{
        background-position: 0 5px;
        background-size: 21px 18px;
    }
    i.cart-icon {
      background-position: 0px 5px;
    }
    .header-minicart a.skip-link .count, .header-neighborhood-container > a .count {
      left: 23px;
    }
    .navbar-header{
        top: 15px;
    }
    .page-404{
        .container{
            section{
                padding-bottom: 15px;
            }
            p.oops{
                font-size: 90px;
                text-align: center;
            }
            h1{
                text-align: center;
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width: 560px){
    #supermenu .template-column {
        width: 50%;
    }
    .catalog-category-view .category_view_content .category_left_menu{
        width:100%;
    }
}

@media screen and (max-width: 460px){
    .page-header-container{
      padding-right:60px;
      .skip-links{
        .link-header-right{
          display: flex;
          flex: 0 1 auto;
          flex-wrap: wrap;
          .skip-help{
              display: none;
          }
        }
        .header-minicart{
          vertical-align: -13px;
          .skip-link{
            background-size: 18px 15px;
          }
        }
        .header-account-container{
          margin-right: 3px;
        }
      }
    }
    .navbar-toggle{
        margin-top: -6px;
        margin-right: 5px;
        padding: 10px 5px;
    }
    #header-neighborhood {
        li.neighborhood_list.choose > a {
            display:block;
            text-align:center;
        }
        li.neighborhood_list{

            p {
                text-align:center;
                display:block;
                margin:0;
            }
        }
    }
    .checkout-onepage-index {
    }
    #html-body{
        header{
            margin-bottom: 70px;
        }
    }
    #co-billing-form, #co-shipping-method-form, #checkout-step-payment, #checkout-step-checkcart{
        padding: 40px 10px;
    }

    section{
        &#prices, &#concept{
            min-height:0;
        }
        &#districts{
            .button-district{
                span.button{
                    top: 34%;
                }
            }
            #search_neighborhoods {
              input,select {
                    width: 100%;
              }
            }
        }

        &#carroussel-commercants .section-header, &#districts .section-header,&#cards .section-header{
            padding-top:35px;
        }
    }
    .page-title h1{
        font-size: 1.5rem;
    }
    .commercants-block .title-block,
    .block-promos .inner-box h2,
    .block-reduction-apdc h2,
    .block-lastorder h2{
        font-size: 1.5rem;
    }
    .block-reduction-apdc{
        padding: 20px;
        margin: 30px 0;
        h2{
            font-size: 1.75rem;
        }
        img{
            margin-bottom: 20px;
        }
    }
    .block-lastorder{
        margin: 30px 0;
    }
    .block-promos{
        .owl-buttons, .owl-nav{
            width: 99%;
        }
    }
    .block-blog, .block-reduction-apdc{
        margin: 30px 0;
    }
    #carrousel-commercant-home, .block_selection{
        padding: 0;
    }
    .buttons-set{
        text-align: center;
        .back-link{
            display: block;
            text-align: center;
        }
        .button{
            float: none!important;
        }
    }
    #checkout-review-table{
        th{
            font-size: 1rem;
            &.delete{
                min-width: 0;
            }
        }
        td{
            &.quantity{
                font-size: 1rem;
            }
            &.price{
                font-size: 1.125rem;
            }
            &.delete{
                min-width: 0;
                width: auto;
            }
        }
        .infos_prod_review{
            h3{
                font-size: 1rem;
            }
        }
    }
    #discount-coupon-form input{
        margin-left: 15px;
        margin-bottom: 10px;
        width: calc(100% - 15px);
        & + div{
            float: none;
        }
    }
    #co-payment-form{
        margin-left: 15px;
        width: calc(100% - 15px);
    }
    .catalog-category-view{
        .title-block{
            font-size: 1.6rem;
        }
        .category-products{
            .title-block{
                margin-bottom: 20px;
            }
            .apdc-products-grid{
                .product-name{
                    font-size: 0.95rem; 
                }
                .price-box{
                    .price{
                        font-size:1.3rem;
                    }
                }
                .button{
                    padding: 10px 15px;
                }
                .apdc-product-custom-options{
                    label{
                        font-size:0.8rem !important;
                    }
                    select{
                        font-size: 0.8rem !important;
                    }
                }
            }
        }
        .commercant-collapse{
            .commercant-info{
                .delivery-days{
                    margin-top: 20px;
                    h2, div{
                        width: 100%;
                        margin: 0;
                    }
                    table{
                        th{
                            font-size: 0.75rem;
                            padding: 7px 5px;
                        }
                        td{
                            font-size: 1rem;
                            padding: 7px 5px;
                        }
                    }
                }
            }
        }
    }
    #opc-shipping_method{
        #co-ddate-form{
            .delivery{
                .deli_date{
                    width: calc(100% - 90px);
                }
                .deli_time{
                    width: 90px;
                    p{
                        font-size: 0.875rem;
                        padding: 29px 0;
                    }
                }
            }
        }
    }
}
