// FONTS
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Raleway');

$font-title:    'Courgette', sans-serif;
$font-text:     'Raleway', sans-serif;


// COLORS
$color-main-green:         #3ab64b;  // vert principal
$color-second-green:       #1e555a;  // vert foncé
$color-main-grey:          #999999;  // gris clair
$color-main-pink:          #f55d5b;  // rose
$color-black:              #000;     // noir
$color-dark-blue:          #1c50a5;  // bleu foncé
$color-blue:               #3a94d5;  // bleu