<?xml version="1.0"?>
<config>
    <modules>
        <Apdc_Forms>
            <version>0.1.0</version>
        </Apdc_Forms>
    </modules>
    <frontend>
        <routers>
            <form>
                <use>standard</use>
                <args>
                    <module>Apdc_Forms</module>
                    <frontName>formulaire</frontName>
                </args>
            </form>
        </routers>
        <layout>
            <updates>
                <carttotal>
                    <file>formulaire.xml</file>
                </carttotal>
            </updates>
        </layout>
    </frontend> 
</config>
